@font-face {
  font-family: Poppins-Regular;
  src: url(./Poppins-Regular.ttf);
  font-display: swap;
}
/* template */
html {
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow: auto;
  font-family: Poppins-Regular;
  max-width: 1920px;
  margin: auto;
}
@media only screen and (min-width: 1921px) {
  body {
    box-shadow: 1px 0 grey, -1px 0 grey;
  }
}

h2,
h3 {
  font-family: Tahoma, sans-serif;
  font-size: 110%;
}

h2 {
  padding-top: 10px;
}

.hide {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
}
@media only Screen and (min-width: 576px) {
  main {
    padding-top: 39.656;
  }
}

/* nav */
.sticky {
  position: sticky;
  background-image: url("../images/climpek.png");
  background-color: white;
}

.absolute {
  position: absolute;
}

nav {
  position: absolute;
  font-family: Tahoma, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1920px;
  width: 92%;
  top: 0;
  padding: 0 4%;
  text-align: center;
  font-size: larger;
  color: black;
  z-index: 2;
}
@media only Screen and (max-width: 576px) {
  nav {
    position: sticky;
    justify-content: flex-start;
    flex-direction: column;
    background-image: url("../images/climpek.png");
    background-color: white;
    transition: 0.2s ease-in-out background-color;
    width: 100%;
    padding: 0;
  }
  nav:hover, nav:focus {
    background-color: lightgray;
  }
  nav:hover ul li, nav:focus ul li {
    margin-top: 0px;
  }
}
nav ul {
  overflow: hidden;
}
nav ul:nth-child(2) {
  width: 33%;
}
nav ul:nth-child(3) {
  width: 67%;
}
@media only Screen and (max-width: 576px) {
  nav ul:nth-child(3), nav ul:nth-child(2) {
    width: 60%;
  }
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
@media only Screen and (max-width: 576px) {
  nav ul li {
    transition: margin-top 1.5s;
    margin-top: -100%;
    display: list-item;
    width: 100%;
  }
}
nav ul li a {
  color: inherit;
  padding: 5px 7.5px;
  text-decoration: none;
  border-radius: 5px;
  outline: none;
  display: block;
  margin: 4% 0;
  background-image: url("../images/climpek.png");
  background-color: white;
  transition: 0.2s ease-in-out background-color, color 0.2s ease-in-out;
}
@media only Screen and (max-width: 576px) {
  nav ul li a {
    margin: auto auto 10px auto;
    background-image: none;
    background-color: unset;
  }
}
nav ul li a:hover, nav ul li a:focus {
  color: white;
  background-color: rgba(156, 44, 7, 0.95);
  background-image: none;
}
nav span.fas {
  color: #9c2c07;
  padding: 10px;
  align-self: baseline;
}
@media only Screen and (min-width: 576px) {
  nav span.fas {
    display: none;
  }
}
nav .fab {
  padding: 7px 11px;
  position: absolute;
  text-decoration: none;
  bottom: -14px;
  right: 15px;
  border-radius: 50%;
  z-index: 3;
}
@media only Screen and (min-width: 576px) {
  nav .fab {
    display: none;
  }
}

/* footer */
footer {
  display: flex;
  font-family: Tahoma, sans-serif;
  background-color: rgba(156, 44, 7, 0.95);
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: larger;
}
footer ul:nth-child(1) {
  padding: 30px 0;
}
footer ul:nth-child(1) > li:nth-child(1) {
  border-top: 1px solid white;
  padding: 10px 12.5px 10px 10px;
  max-width: 72px;
}
footer ul ~ ul {
  text-align: right;
}
footer ul ~ ul li {
  padding-right: 10px;
}
footer ul {
  list-style-type: none;
  color: white;
}
@media only Screen and (max-width: 576px) {
  footer ul {
    width: 100%;
  }
}
footer ul a {
  color: white;
  padding: 5px 0;
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 100%;
  transition: 0.2s ease-in-out color;
}
footer ul a:hover, footer ul a:focus {
  color: black;
}
footer hr {
  width: 60%;
  margin: 20px 20% 0 20%;
}
@media only Screen and (max-width: 576px) {
  footer hr {
    width: 90%;
    margin: 20px 5% 0 5%;
  }
}
footer p {
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* icons */
.fab {
  transition: 0.2s ease-in-out background;
}
.fab:hover, .fab:focus {
  background: #9c2c07;
}

.fa-facebook-f {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* header */
header {
  background-image: url(../images/header.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  width: 100%;
  text-align: right;
  padding-top: 42.7%;
  min-height: 300px;
  box-sizing: border-box;
  background-attachment: fixed;
}
@media only Screen and (max-width: 768px) {
  header {
    background-image: url(../images/headerm.webp);
    padding-top: 43%;
    min-height: 200px;
    background-size: cover;
    background-attachment: initial;
  }
}
header h1 {
  position: absolute;
  bottom: 12.5%;
  right: 5%;
  width: fit-content;
  border-radius: 5px;
  font-style: oblique;
  font-size: 1.75em;
  text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
}
@media only Screen and (max-width: 1023px) {
  header h1 {
    font-size: 17px;
  }
}
header h1 svg {
  width: 100%;
  max-width: 100px;
  height: auto;
}
header h1 svg .font {
  font-size: 17px;
  font-style: normal;
  font-weight: 100;
  fill: #303030;
}
header h1 a {
  color: #303030;
  text-decoration: none;
  font-weight: 100;
}
header h1 a:hover {
  text-decoration: underline;
}
header .fab {
  padding: 7px 11px;
  position: absolute;
  text-decoration: none;
  bottom: -14px;
  right: 15px;
  border-radius: 50%;
  z-index: 3;
}
@media only Screen and (max-width: 576px) {
  header .fab {
    display: none;
  }
}

/* article */
article {
  width: 55%;
  margin: auto;
}
@media only Screen and (max-width: 1023px) {
  article {
    width: 90%;
  }
}
article h2 {
  margin: calc(65px + 4%) auto 2% 4%;
}
@media only Screen and (max-width: 1023px) {
  article h2 {
    margin: 6% auto 2% 2%;
  }
}
article span {
  color: #303030;
  text-align: justify;
  display: inline-block;
}
article p {
  margin: 10% auto auto auto;
  border: 2px solid #9c2c07;
  color: #9c2c07;
  padding: 25px;
}
article p q {
  opacity: 0.95;
}

/* #section1  */
#section1 {
  position: relative;
}
@media only Screen and (max-width: 1023px) {
  #section1 {
    position: static;
  }
}
#section1 img {
  position: relative;
  border-radius: 5px;
  display: block;
  margin: auto;
  border: 1px solid lightgray;
}
@media only Screen and (max-width: 1023px) {
  #section1 img {
    position: static;
    margin-top: 4%;
    height: 100%;
    display: block;
    left: unset;
    bottom: unset;
  }
}
#section1 img:nth-child(1) {
  bottom: -350px;
  z-index: 1;
  left: 225px;
}
@media only Screen and (max-width: 1023px) {
  #section1 img:nth-child(1) {
    width: 60%;
  }
}
#section1 img:nth-child(2) {
  bottom: 200px;
  left: -125px;
}
@media only Screen and (max-width: 1023px) {
  #section1 img:nth-child(2) {
    width: 60%;
  }
}
#section1 img:nth-child(4) {
  left: -245px;
  bottom: 100px;
}
@media only Screen and (max-width: 1023px) {
  #section1 img:nth-child(4) {
    width: 90%;
    margin-bottom: 10%;
  }
}
#section1 img + p {
  width: 300px;
  margin: auto;
  position: relative;
  top: -150px;
  left: -175px;
  border: 2px solid #9c2c07;
  color: #9c2c07;
  padding: 25px;
}
@media only Screen and (max-width: 1023px) {
  #section1 img + p {
    position: static;
    width: 87%;
    margin: 4% auto 10% auto;
    padding: 1.5%;
  }
}
#section1 img + p q {
  opacity: 0.95;
}
#section1 aside {
  width: 425px;
  position: absolute;
  left: calc(50% + 65px);
  top: calc(50% + 45px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}
@media only Screen and (max-width: 1023px) {
  #section1 aside {
    justify-content: space-between;
    position: static;
    width: 70%;
    margin: 4% auto;
  }
}
@media only Screen and (max-width: 576px) {
  #section1 aside {
    width: 90%;
  }
}
#section1 aside h2 {
  width: 100%;
  padding-top: 0;
  text-align: center;
}
#section1 aside h2 + p {
  width: 100%;
}
#section1 aside h2 + p + p + h3 {
  text-align: right;
}
#section1 aside p {
  width: 50%;
  display: inline-block;
  margin: 1.5% 0;
}
#section1 h3 {
  width: 48%;
  display: inline-block;
  align-self: center;
}
#section1 h3 + p {
  order: 2;
  text-align: right;
}
@media only Screen and (max-width: 1023px) {
  #section1 h3 + p {
    order: unset;
    text-align: left;
  }
}
#section1 h3 + p + h3 {
  order: 1;
}
@media only Screen and (max-width: 1023px) {
  #section1 h3 + p + h3 {
    order: unset;
    text-align: right;
  }
}

/* #section2 */
#section2 {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
@media only Screen and (max-width: 1023px) {
  #section2 {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: unset;
  }
}
@media only Screen and (max-width: 1023px) {
  #section2 p {
    order: 3;
    margin-bottom: 10%;
    text-align: justify;
  }
}
#section2 a {
  align-self: flex-start;
  position: sticky;
  /* quater 100vh */
  top: 25vh;
  /* anything */
  margin: 20vh 0 20vh 8%;
}
@media only Screen and (max-width: 1023px) {
  #section2 a {
    position: relative;
    top: unset;
  }
}
@media only Screen and (max-width: 1023px) {
  #section2 a:nth-child(2) {
    order: 1;
    margin: 10% auto 2% auto;
  }
}
@media only Screen and (max-width: 1023px) {
  #section2 a:nth-child(3) {
    order: 2;
    margin: 5% auto 10% auto;
  }
}
#section2 a figure {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 3px solid rgba(156, 44, 7, 0.5);
  border-radius: 10px;
  min-width: 440px;
}
@media only Screen and (max-width: 1023px) {
  #section2 a figure {
    min-width: unset;
  }
}
#section2 a figure img {
  display: block;
  position: relative;
  z-index: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
#section2 a figure:hover img, #section2 a figure:focus img {
  transform: scale(1.035);
  opacity: 0.975;
}
#section2 a figure figcaption {
  position: absolute;
  top: 35%;
  left: 5%;
  color: white;
  width: 50%;
  z-index: 1;
}
#section2 a figure figcaption b {
  font-family: Tahoma, sans-serif;
  font-size: 110%;
}
#section2 a figure:hover figcaption b, #section2 a figure:focus figcaption b {
  text-decoration: underline;
}

.block {
  display: block;
}

.none {
  display: none;
}
@media only Screen and (max-width: 1023px) {
  .none {
    display: block;
  }
}

/* #section3 */
#section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 9% 0;
}
@media only Screen and (max-width: 1023px) {
  #section3 {
    flex-direction: column;
    margin: 5% auto auto auto;
    align-items: center;
  }
  #section3 article:nth-child(1) {
    order: 2;
  }
  #section3 article:nth-child(1) h3 {
    margin-left: 3%;
  }
  #section3 div:nth-child(2) {
    order: 3;
    margin: 6% auto 3% auto;
    padding: 27% 0;
  }
  #section3 div:nth-child(3) {
    order: 1;
    margin-bottom: 3%;
    padding: 27% 0;
  }
  #section3 article:nth-child(4) {
    order: 4;
  }
  #section3 article:nth-child(4) h3 {
    margin-right: 3%;
  }
}
#section3 article,
#section3 div {
  width: 40%;
  margin: 0;
  height: fit-content;
}
@media only Screen and (max-width: 1023px) {
  #section3 article,
  #section3 div {
    width: 90%;
    border-radius: 5px;
  }
}
#section3 article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section3 article:nth-child(4) {
  text-align: right;
}
#section3 div {
  position: relative;
  padding: 12% 0;
  background-size: contain;
  background-repeat: no-repeat;
}
#section3 div p {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  position: absolute;
  top: 2%;
  right: 2%;
  bottom: 2%;
  left: 2%;
  transition: background-color 1s linear, opacity 1s linear, top 1s linear, right 1s linear, bottom 1s linear, left 1s linear;
}
#section3 div p span {
  margin: 5%;
  opacity: 0;
  transition: opacity 1s linear;
  height: fit-content;
  width: 200px;
}
#section3 div p b {
  margin: 5%;
}
#section3 div:hover p, #section3 div:focus p {
  background-color: rgba(156, 44, 7, 0.95);
  opacity: 0.75;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
}
#section3 div:hover p span, #section3 div:focus p span {
  opacity: 1;
}
#section3 div:nth-child(2) {
  background-image: url(../images/job.jpg);
}
#section3 div:nth-child(3) {
  background-image: url(../images/startup.jpg);
}
#section3 div:nth-child(3) p {
  text-align: right;
}
#section3 div:nth-child(3) p span {
  align-self: end;
}

/* #section4 */
#section4 {
  height: 388px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 4% 4% 4%;
}
@media only Screen and (max-width: 576px) {
  #section4 {
    height: unset;
    flex-direction: column;
    padding: 8% 4%;
  }
}
#section4 p {
  width: 25%;
  height: 150px;
  border: 2px solid #9c2c07;
  color: #9c2c07;
  padding: 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
@media only Screen and (max-width: 576px) {
  #section4 p {
    width: 94%;
    margin: 10% 0;
    height: unset;
    min-height: 10vh;
  }
}
#section4 p::after {
  position: absolute;
  content: "";
  top: -50px;
  left: calc(50% - 25px);
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #9c2c07;
  border-left: 25px solid transparent;
}

/* #section5 */
#section5 {
  width: 100%;
  padding: 35px 0 70px 0;
  background-color: rgba(156, 44, 7, 0.025);
}
@media only Screen and (max-width: 1023px) {
  #section5 {
    padding: 0 0 35px 0;
  }
}
#section5 h2 {
  text-align: left;
  margin: auto auto 40px 8%;
}
#section5 div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media only Screen and (max-width: 1023px) {
  #section5 div {
    justify-content: space-evenly;
  }
}
@media only Screen and (max-width: 576px) {
  #section5 div {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
#section5 div img {
  border-radius: 50%;
  margin: auto 1.5% auto 1.5%;
  filter: grayscale(100%);
  border: 1px solid lightgray;
}
@media only Screen and (max-width: 1023px) {
  #section5 div img {
    display: block;
    margin: 2% auto auto 8%;
  }
}
@media only Screen and (max-width: 576px) {
  #section5 div img {
    margin: auto;
    width: 50%;
    height: 50%;
  }
}
#section5 div div {
  display: flex;
  flex-direction: column;
  width: 222px;
  margin: auto 1% auto 1%;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div {
    width: 40%;
    margin: auto;
  }
}
@media only Screen and (max-width: 576px) {
  #section5 div div {
    width: 60%;
  }
}
#section5 div div h3 {
  margin: 0;
  text-align: right;
  width: 222px;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div h3 {
    text-align: center;
    height: initial;
    padding: 3% 0;
  }
}
#section5 div div h3 span {
  display: inline;
  color: #9c2c07;
}
#section5 div div p {
  width: 222px;
  height: 222px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div p {
    width: 100%;
    height: initial;
  }
}
#section5 div div p span:nth-child(1) {
  text-align: right;
  display: inline-block;
  color: #303030;
  opacity: 0.95;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div p span:nth-child(1) {
    text-align: center;
    height: initial;
    padding: 3% 0;
  }
}
#section5 div div p span:nth-child(2) {
  display: inline-block;
  height: 111px;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div p span:nth-child(2) {
    text-align: center;
    padding: 3% 0;
  }
}
@media only Screen and (max-width: 576px) {
  #section5 div div p span:nth-child(2) {
    height: initial;
  }
}
#section5 div div span:nth-child(3) {
  display: inline-block;
  width: 222px;
  text-align: center;
  margin: 11px auto 50px auto;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div span:nth-child(3) {
    width: 100%;
  }
}
#section5 div div span:nth-child(3) .fab {
  padding: 7px 9px;
  margin: auto 3%;
  text-decoration: none;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div span:nth-child(3) .fab {
    margin: auto 0;
  }
}

/* slick */
.slk {
  display: flex;
  justify-content: flex-end;
  background-color: #f9e9d2;
  padding: 25px 0;
}
@media only Screen and (max-width: 1023px) {
  .slk {
    justify-content: center;
  }
}
.slk div {
  width: 200px;
  margin-right: 10%;
}
@media only Screen and (max-width: 1023px) {
  .slk div {
    margin: 0;
  }
}

/*# sourceMappingURL=home.css.map */
