/* template */
* {
  padding: 0;
  margin: 0;
}

body {
  overflow: auto;
  font-family: "Trebuchet MS", sans-serif;
  max-width: 1920px;
  margin: auto;
}
@media only screen and (min-width: 1921px) {
  body {
    box-shadow: 1px 0 grey, -1px 0 grey;
  }
}
@media only Screen and (max-width: 576px) {
  body {
    font-size: 80%;
  }
}

h2,
h3 {
  font-family: Tahoma, sans-serif;
  font-size: 110%;
}

h2 {
  padding-top: 10px;
}

.hide {
  display: none;
}

/* nav */
nav {
  position: sticky;
  font-family: Tahoma, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1920px;
  top: 0;
  width: 92%;
  padding: 0 4%;
  text-align: center;
  font-size: larger;
  background-image: url("../images/climpek.png");
  background-color: white;
  color: black;
  z-index: 2;
}
@media only Screen and (max-width: 576px) {
  nav {
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
@media only Screen and (max-width: 576px) {
  nav:hover ul li, nav:focus ul li {
    animation: ani1 2s;
  }
  @keyframes ani1 {
    0% {
      height: 0px;
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      height: 43px;
      opacity: 1;
    }
  }
}
nav:hover .button, nav:focus .button {
  display: block;
}
@keyframes ani {
  0% {
    background-color: lightgray;
  }
  100% {
    background-color: white;
  }
}
@media only Screen and (max-width: 576px) {
  nav:hover, nav:focus {
    animation: ani 2s;
  }
}
nav #menu {
  color: #9c2c07;
  padding: 10px;
  align-self: baseline;
}
@media only Screen and (min-width: 576px) {
  nav #menu {
    display: none;
  }
}
nav ul:nth-child(2) {
  width: 33%;
}
nav ul:nth-child(3) {
  width: 67%;
}
@media only Screen and (max-width: 576px) {
  nav ul:nth-child(3), nav ul:nth-child(2) {
    width: 90%;
  }
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
@media only Screen and (max-width: 576px) {
  nav ul li {
    display: list-item;
    width: 100%;
  }
}
nav ul li a {
  color: inherit;
  padding: 5px 7.5px;
  text-decoration: none;
  border-radius: 5px;
  outline: none;
  display: block;
  margin: 2% 0;
}
@media only Screen and (max-width: 576px) {
  nav ul li a {
    display: none;
    margin: auto auto 15px auto;
  }
}
nav ul li a:hover, nav ul li a:focus {
  color: white;
  background-color: rgba(156, 44, 7, 0.95);
  background-image: none;
}

.display {
  display: block;
}

/* footer */
footer {
  display: flex;
  font-family: Tahoma, sans-serif;
  background-color: rgba(156, 44, 7, 0.95);
  justify-content: space-around;
  align-items: center;
  font-size: larger;
}
footer ul:nth-child(1) {
  padding: 30px 0;
}
footer ul:nth-child(1) > li:nth-child(1) {
  border-top: 1px solid white;
  padding: 12.5px 15px 12.5px 12.5px;
  width: 90%;
}
footer ul ~ ul {
  text-align: right;
}
footer ul ~ ul li:nth-child(3) {
  text-align: center;
  padding-top: 10px;
}
footer ul {
  list-style-type: none;
  color: white;
}
footer ul a {
  color: white;
  padding: 5px 0;
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 100%;
}
footer ul a:hover, footer ul a:focus {
  color: black;
}

/* icons */
.fab:hover,
.fab:focus {
  background: #9c2c07;
}

.fa-facebook-f {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* header */
header {
  background-image: url("../images/header.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
  padding: 21% 0px;
  text-align: center;
}
@media only Screen and (max-width: 576px) {
  header {
    background-image: url(../images/headerm.jpg);
  }
}
header h1 {
  position: absolute;
  bottom: 12.5%;
  right: 5%;
  width: 50%;
  border-radius: 5px;
}
@media only Screen and (max-width: 1023px) {
  header h1 {
    font-size: 130%;
  }
}
@media only Screen and (max-width: 576px) {
  header h1 {
    bottom: unset;
    top: 5px;
    right: 5px;
    font-size: 112%;
  }
}
@media only Screen and (max-width: 320px) {
  header h1 {
    font-size: 86%;
  }
}
header h1 span {
  font-size: 90%;
  opacity: 0.95;
}
header h1 a {
  color: white;
  text-decoration: none;
}
header h1 a:hover {
  text-decoration: underline;
}
header .fab {
  padding: 7px 11px;
  position: absolute;
  text-decoration: none;
  bottom: -14px;
  right: 15px;
  border-radius: 50%;
  z-index: 3;
}

/* article */
article {
  width: 55%;
  margin: auto;
}
@media only Screen and (max-width: 1023px) {
  article {
    width: 90%;
  }
}
article h2 {
  margin: calc(65px + 4%) auto 2% 4%;
}
@media only Screen and (max-width: 1023px) {
  article h2 {
    margin: 6% auto 2% 2%;
  }
}
@media only Screen and (max-width: 576px) {
  article h2 {
    margin: auto auto 2% 2%;
  }
}
article span {
  color: #303030;
  text-align: justify;
  display: inline-block;
}
article p {
  margin: 4% auto;
  border: 2px solid #9c2c07;
  color: #9c2c07;
  padding: 25px;
}
@media only Screen and (max-width: 1023px) {
  article p {
    padding: 1.5%;
  }
}
article p q {
  opacity: 0.95;
}

/* #section1  */
#section1 {
  position: relative;
}
@media only Screen and (max-width: 1023px) {
  #section1 {
    position: static;
  }
}
#section1 img {
  position: relative;
  border-radius: 5px;
  display: block;
  margin: auto;
  border: 1px solid lightgray;
}
@media only Screen and (max-width: 1023px) {
  #section1 img {
    position: static;
    margin-top: 4%;
    height: 100%;
    display: block;
    left: unset;
    bottom: unset;
  }
}
#section1 img:nth-child(1) {
  bottom: -350px;
  z-index: 1;
  left: 225px;
}
@media only Screen and (max-width: 1023px) {
  #section1 img:nth-child(1) {
    width: 60%;
  }
}
#section1 img:nth-child(2) {
  bottom: 200px;
  left: -125px;
}
@media only Screen and (max-width: 1023px) {
  #section1 img:nth-child(2) {
    width: 60%;
  }
}
#section1 img:nth-child(4) {
  left: -245px;
  bottom: 100px;
}
@media only Screen and (max-width: 1023px) {
  #section1 img:nth-child(4) {
    width: 90%;
    margin-bottom: 6%;
  }
}
#section1 p {
  width: 300px;
  margin: auto;
  position: relative;
  top: -150px;
  left: -175px;
  border: 2px solid #9c2c07;
  color: #9c2c07;
  padding: 25px;
}
@media only Screen and (max-width: 1023px) {
  #section1 p {
    position: static;
    width: 87%;
    margin: 4% auto;
    padding: 1.5%;
  }
}
#section1 p q {
  opacity: 0.95;
}
#section1 aside {
  width: 425px;
  position: absolute;
  left: calc(50% + 65px);
  top: calc(50% + 45px);
}
@media only Screen and (max-width: 1023px) {
  #section1 aside {
    position: static;
    width: 90%;
    margin: 4% auto;
  }
}
#section1 aside h3 {
  margin: auto auto 2% 2%;
}
#section1 aside span {
  color: #303030;
  text-align: justify;
  display: inline-block;
}

/* #section2 */
#section2 {
  width: 100%;
  padding: 35px 0;
  background-color: rgba(156, 44, 7, 0.025);
}
@media only Screen and (max-width: 1023px) {
  #section2 {
    padding: 0;
  }
}
#section2 h2 {
  text-align: left;
  margin: auto auto 40px 8%;
}
#section2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media only Screen and (max-width: 1023px) {
  #section2 div {
    justify-content: space-evenly;
  }
}
@media only Screen and (max-width: 576px) {
  #section2 div {
    flex-direction: column;
  }
}
#section2 div img {
  border-radius: 50%;
  margin: auto 1.5% auto 1.5%;
  filter: grayscale(100%);
  border: 1px solid lightgray;
}
@media only Screen and (max-width: 1023px) {
  #section2 div img {
    display: block;
    margin: 2% auto auto 8%;
  }
}
@media only Screen and (max-width: 576px) {
  #section2 div img {
    margin: auto;
  }
}
#section2 div div {
  display: flex;
  flex-direction: column;
  width: 222px;
  margin: auto 1% auto 1%;
}
@media only Screen and (max-width: 1023px) {
  #section2 div div {
    width: 40%;
    margin: auto;
  }
}
@media only Screen and (max-width: 576px) {
  #section2 div div {
    width: 60%;
  }
}
#section2 div div h3 {
  margin: 0;
  text-align: right;
  width: 222px;
}
@media only Screen and (max-width: 1023px) {
  #section2 div div h3 {
    text-align: center;
    height: initial;
    padding: 3% 0;
  }
}
#section2 div div h3 span {
  display: inline;
  color: #9c2c07;
}
#section2 div div p {
  width: 222px;
  height: 222px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media only Screen and (max-width: 1023px) {
  #section2 div div p {
    width: 100%;
    height: initial;
  }
}
#section2 div div p span:nth-child(1) {
  text-align: right;
  display: inline-block;
  color: #303030;
  opacity: 0.95;
}
@media only Screen and (max-width: 1023px) {
  #section2 div div p span:nth-child(1) {
    text-align: center;
    height: initial;
    padding: 3% 0;
  }
}
#section2 div div p span:nth-child(2) {
  display: inline-block;
  height: 111px;
}
@media only Screen and (max-width: 1023px) {
  #section2 div div p span:nth-child(2) {
    text-align: center;
    height: initial;
    padding: 3% 0;
  }
}
#section2 div div span:nth-child(3) {
  display: inline-block;
  width: 222px;
  text-align: center;
  margin: 11px auto 50px auto;
}
@media only Screen and (max-width: 1023px) {
  #section2 div div span:nth-child(3) {
    width: 100%;
  }
}
#section2 div div span:nth-child(3) .fab {
  padding: 7px 9px;
  margin: auto 3%;
  text-decoration: none;
}
@media only Screen and (max-width: 1023px) {
  #section2 div div span:nth-child(3) .fab {
    margin: auto 0;
  }
}

/* #section3 */
#section3 {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
@media only Screen and (max-width: 1023px) {
  #section3 {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: unset;
  }
}
@media only Screen and (max-width: 1023px) {
  #section3 p {
    order: 3;
    margin-bottom: 4%;
    text-align: justify;
  }
}
#section3 a {
  align-self: flex-start;
  position: sticky;
  /* quater 100vh */
  top: 25vh;
  /* anything */
  margin: 20vh 0 20vh 8%;
}
@media only Screen and (max-width: 1023px) {
  #section3 a {
    position: relative;
    top: unset;
  }
}
@media only Screen and (max-width: 1023px) {
  #section3 a:nth-child(2) {
    order: 1;
    margin: 6% auto 2% auto;
  }
}
@media only Screen and (max-width: 1023px) {
  #section3 a:nth-child(3) {
    order: 2;
    margin: 2% auto 6% auto;
  }
}
#section3 a figure {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 3px solid rgba(156, 44, 7, 0.5);
  border-radius: 10px;
  min-width: 440px;
}
@media only Screen and (max-width: 1023px) {
  #section3 a figure {
    min-width: unset;
  }
}
#section3 a figure img {
  display: block;
  position: relative;
  z-index: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
#section3 a figure:hover img, #section3 a figure:focus img {
  transform: scale(1.035);
  opacity: 0.975;
}
#section3 a figure figcaption {
  position: absolute;
  top: 35%;
  left: 5%;
  color: white;
  width: 50%;
  z-index: 1;
}
#section3 a figure figcaption b {
  font-family: Tahoma, sans-serif;
  font-size: 110%;
}
#section3 a figure:hover figcaption b, #section3 a figure:focus figcaption b {
  text-decoration: underline;
}

.block {
  display: block;
}

.none {
  display: none;
}
@media only Screen and (max-width: 1023px) {
  .none {
    display: block;
  }
}

/* #section4 */
#section4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 9%;
}
@media only Screen and (max-width: 1023px) {
  #section4 {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  #section4 article:nth-child(1) {
    order: 2;
  }
  #section4 article:nth-child(1) h3 {
    margin-left: 3%;
  }
  #section4 div:nth-child(2) {
    order: 3;
    margin-bottom: 3%;
    padding: 27% 0;
  }
  #section4 div:nth-child(3) {
    order: 1;
    margin-bottom: 3%;
    padding: 27% 0;
  }
  #section4 article:nth-child(4) {
    order: 4;
  }
  #section4 article:nth-child(4) h3 {
    margin-right: 3%;
  }
}
#section4 article,
#section4 div {
  width: 40%;
  margin: 0;
  height: fit-content;
}
@media only Screen and (max-width: 1023px) {
  #section4 article,
  #section4 div {
    width: 90%;
    border-radius: 5px;
  }
}
#section4 article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section4 article:nth-child(4) {
  text-align: right;
}
#section4 div {
  position: relative;
  padding: 12% 0;
  background-size: contain;
  background-repeat: no-repeat;
}
#section4 div p {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  position: absolute;
  top: 2%;
  right: 2%;
  bottom: 2%;
  left: 2%;
  transition: background-color 1s linear, opacity 1s linear, top 1s linear, right 1s linear, bottom 1s linear, left 1s linear;
}
#section4 div p span {
  margin: 5%;
  opacity: 0;
  transition: opacity 1s linear;
  height: 15%;
  width: 200px;
}
#section4 div p b {
  margin: 5%;
}
#section4 div:hover p, #section4 div:focus p {
  background-color: rgba(156, 44, 7, 0.95);
  opacity: 0.75;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
}
#section4 div:hover p span, #section4 div:focus p span {
  opacity: 1;
}
#section4 div:nth-child(2) {
  background-image: url(../images/job.jpg);
}
#section4 div:nth-child(3) {
  background-image: url(../images/startup.jpg);
}
#section4 div:nth-child(3) p {
  text-align: right;
}
#section4 div:nth-child(3) p span {
  align-self: end;
}

/* slick */
.slk {
  display: flex;
  justify-content: flex-end;
  background-color: antiquewhite;
  padding: 25px 0;
}
@media only Screen and (max-width: 1023px) {
  .slk {
    justify-content: center;
  }
}
.slk div {
  width: 200px;
  margin-right: 10%;
}
@media only Screen and (max-width: 1023px) {
  .slk div {
    margin: 0;
  }
}

/*# sourceMappingURL=home.css.map */
