@font-face {
  font-family: Poppins-Regular;
  src: url(./Poppins-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: Poppins-Medium;
  src: url(./Poppins-Medium.ttf);
  font-display: swap;
}
/* template */
html {
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow: auto;
  font-family: Poppins-Regular;
  max-width: 1920px;
  margin: auto;
}
@media only screen and (min-width: 1921px) {
  body {
    box-shadow: 1px 0 grey, -1px 0 grey;
  }
}

h2,
h3 {
  font-family: Tahoma, sans-serif;
  font-size: 110%;
}

h2 {
  padding-top: 10px;
}

.hide {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
}

/* nav */
.sticky {
  position: sticky;
  background-image: url("../images/climpek.png");
  background-color: white;
}

.absolute {
  position: absolute;
}

nav {
  position: absolute;
  font-family: Tahoma, sans-serif;
  max-width: 1920px;
  width: 92%;
  top: 0;
  padding: 0 4%;
  font-size: larger;
  color: black;
  z-index: 2;
}
@media only Screen and (max-width: 576px) {
  nav {
    position: sticky;
    background-image: url("../images/climpek.png");
    background-color: white;
    transition: 0.25s ease background-color;
    width: 100%;
    padding: 0;
  }
  nav:hover, nav:focus {
    background-color: lightgrey;
  }
  nav:hover ul, nav:focus ul {
    height: 159.2px;
  }
  nav:hover ul li, nav:focus ul li {
    transform: translateY(0);
  }
}
nav ul {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
@media only Screen and (max-width: 576px) {
  nav ul {
    flex-direction: column;
    transition: height 0.65s;
    height: 0;
  }
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}
@media only Screen and (max-width: 576px) {
  nav ul li {
    transition: transform 0.65s;
    transform: translateY(-79.2px);
    display: list-item;
  }
  nav ul li:last-child {
    margin-bottom: 40px;
  }
}
nav ul li a {
  color: inherit;
  width: fit-content;
  padding: 5px 7.5px;
  text-decoration: none;
  border-radius: 5px;
  outline: none;
  display: block;
  margin: 4% 0;
  background-image: url("../images/climpek.png");
  background-color: white;
  transition: 0.1s ease background-color, color 0.1s ease;
}
@media only Screen and (max-width: 576px) {
  nav ul li a {
    margin: auto auto 10px auto;
    background-image: none;
    background-color: unset;
  }
}
nav ul li a:hover, nav ul li a:focus {
  color: white;
  background-color: rgba(156, 44, 7, 0.95);
  background-image: none;
}
nav span.fas {
  color: #9c2c07;
  padding: 10px;
  align-self: baseline;
}
@media only Screen and (min-width: 576px) {
  nav span.fas {
    display: none;
  }
}
nav .fab {
  padding: 7px 11px;
  position: absolute;
  text-decoration: none;
  bottom: -14px;
  right: 15px;
  border-radius: 50%;
  z-index: 3;
}
@media only Screen and (min-width: 576px) {
  nav .fab {
    display: none;
  }
}

/* footer */
footer {
  display: flex;
  font-family: Tahoma, sans-serif;
  background-color: rgba(156, 44, 7, 0.95);
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: larger;
}
footer ul:nth-child(1) {
  padding: 30px 0;
}
footer ul:nth-child(1) > li:nth-child(1) {
  padding: 10px 12.5px 10px 10px;
  max-width: 72px;
}
footer ul ~ ul {
  text-align: right;
}
footer ul ~ ul li {
  padding-right: 10px;
}
footer ul {
  list-style-type: none;
  color: white;
}
@media only Screen and (max-width: 576px) {
  footer ul {
    width: 100%;
  }
}
footer ul a {
  color: white;
  padding: 5px 0;
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 100%;
  transition: 0.25s ease-in-out color;
}
footer ul a:hover, footer ul a:focus {
  color: black;
}
footer hr {
  width: 100%;
  margin: 20px calc(25% - 55px) 0 calc(25% - 55px);
}
@media only Screen and (max-width: 576px) {
  footer hr {
    margin: 60px calc(33% - 30px) 30px calc(33% - 30px);
  }
}
footer p {
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* icons */
.fab {
  transition: 0.25s ease-in-out background;
}
.fab:hover, .fab:focus {
  background: #9c2c07;
}

.fa-facebook-f {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* header */
header {
  background-image: url(../images/header.webp);
  background-size: 66%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  text-align: right;
  padding: 50vh 0;
  min-height: 300px;
  box-sizing: border-box;
  background-attachment: fixed;
  border-bottom: 1px solid rgba(48, 48, 48, 0.275);
}
@media only Screen and (max-width: 1400px) {
  header {
    background-image: url(../images/headerm.webp);
    padding: 22.5% 0;
    min-height: 200px;
    background-size: 67%;
    background-position: center left;
    background-attachment: initial;
  }
}
header h1 {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: fit-content;
  border-radius: 5px;
  font-style: oblique;
  font-size: 1.75em;
}
@media only Screen and (max-width: 1023px) {
  header h1 {
    font-size: 17px;
  }
}
header h1 svg {
  width: 100%;
  max-width: 75px;
  height: auto;
}
header h1 svg .font {
  font-size: 17px;
  font-style: normal;
  font-weight: 100;
  fill: #303030;
}
header h1 a {
  color: #303030;
  font-weight: 100;
  transition: text-decoration-color 0.2s ease;
  text-decoration: underline;
  text-decoration-color: white;
}
header h1 a:hover {
  text-decoration-color: #303030;
}
header .fab {
  padding: 7px 11px;
  position: absolute;
  text-decoration: none;
  bottom: 14px;
  right: 15px;
  border-radius: 50%;
  z-index: 3;
}
@media only Screen and (max-width: 1023px) {
  header .fab {
    bottom: -14px;
  }
}
@media only Screen and (max-width: 576px) {
  header .fab {
    display: none;
  }
}

/* article */
article {
  width: 55%;
  margin: auto;
}
@media only Screen and (max-width: 1023px) {
  article {
    width: 90%;
  }
}
article h2 {
  margin: calc(65px + 4%) auto 2% 4%;
}
@media only Screen and (max-width: 1023px) {
  article h2 {
    margin: 6% auto 2% 2%;
  }
}
article span {
  color: #303030;
  text-align: justify;
  display: inline-block;
}
article p {
  margin: 10% auto auto auto;
  border: 2px solid #9c2c07;
  color: #9c2c07;
  padding: 25px;
  font-size: clamp(14px, 1.6vw, 16px);
}
article p q {
  opacity: 0.85;
}

/* #section1  */
#section1 {
  position: relative;
  height: 100vw;
  max-height: 1230px;
  max-width: 1230px;
  width: 100%;
  margin: 10% auto 0 auto;
}
@media only Screen and (max-width: 1023px) {
  #section1 {
    margin: 10% auto 12.5vh auto;
  }
}
@media only Screen and (max-width: 767px) {
  #section1 {
    padding-bottom: initial;
    position: static;
    height: initial;
    max-height: initial;
    max-width: initial;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
}
#section1 img {
  position: absolute;
  border-radius: 5px;
  display: block;
  margin: auto;
  border: 1px solid lightgrey;
}
@media only Screen and (max-width: 767px) {
  #section1 img {
    position: static;
    margin-top: 4%;
    height: 100%;
    display: block;
    left: unset;
    bottom: unset;
  }
}
#section1 img:nth-child(1) {
  top: 16%;
  z-index: 1;
  left: 50%;
  width: 44%;
  height: auto;
}
@media only Screen and (max-width: 767px) {
  #section1 img:nth-child(1) {
    width: 60%;
    order: 1;
  }
}
#section1 img:nth-child(2) {
  top: 0;
  width: 52.5%;
  height: auto;
  left: 6%;
}
@media only Screen and (max-width: 767px) {
  #section1 img:nth-child(2) {
    width: 60%;
    order: 2;
  }
}
#section1 img:nth-child(4) {
  left: 6%;
  bottom: 0;
  width: 48.5%;
  height: auto;
}
@media only Screen and (max-width: 767px) {
  #section1 img:nth-child(4) {
    width: 80%;
    margin-bottom: 10%;
    order: 4;
  }
}
#section1 img + p {
  width: 35.5%;
  margin: auto;
  position: absolute;
  top: 37%;
  bottom: 34%;
  left: 18.75%;
  border: 2px solid #9c2c07;
  color: #9c2c07;
  padding: 3.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-size: clamp(14px, 1.6vw, 16px);
}
@media only Screen and (max-width: 767px) {
  #section1 img + p {
    justify-content: flex-start;
    position: static;
    width: 87%;
    margin: 4% auto 10% auto;
    padding: 1.5%;
    order: 5;
  }
}
#section1 img + p q {
  opacity: 0.95;
}
@media only Screen and (max-width: 767px) {
  #section1 img + p q {
    margin-bottom: 30px;
  }
}
#section1 aside {
  width: 36%;
  position: absolute;
  left: 58%;
  top: 44%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 56%;
  font-size: clamp(12px, 1.6vw, 16px);
}
@media only Screen and (max-width: 767px) {
  #section1 aside {
    font-size: 16px;
    justify-content: space-between;
    position: static;
    width: 90%;
    margin: 4% auto;
    height: initial;
    order: 3;
  }
}
#section1 aside h2 {
  width: 100%;
  padding-top: 0;
  text-align: center;
}
#section1 aside h2 + p {
  width: 100%;
  margin: 1.5% 0;
}
#section1 div:nth-child(2),
#section1 div:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section1 div:nth-child(2) h3,
#section1 div:nth-child(3) h3 {
  width: 48%;
  display: inline-block;
  text-align: right;
}
#section1 div:nth-child(2) p,
#section1 div:nth-child(3) p {
  width: 48%;
  text-align: left;
  margin: 1.5% 0;
}
#section1 div:nth-child(3) h3 {
  order: 1;
  text-align: left;
}
@media only Screen and (max-width: 767px) {
  #section1 div:nth-child(3) h3 {
    order: initial;
    text-align: right;
  }
}
#section1 div:nth-child(3) p {
  order: 2;
  text-align: right;
}
@media only Screen and (max-width: 767px) {
  #section1 div:nth-child(3) p {
    order: initial;
    text-align: left;
  }
}

/* #section2 */
#section2 {
  width: 87.5%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 12.5vh 0;
}
@media only Screen and (max-width: 1023px) {
  #section2 {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: unset;
    padding: initial;
  }
}
@media only Screen and (max-width: 1023px) {
  #section2 p {
    order: 3;
    margin: 10% 0;
    text-align: justify;
  }
}
#section2 .top {
  align-self: flex-start;
  position: sticky;
  /* quater 100vh */
  top: 25vh;
  /* anything */
  margin: 20vh 0 20vh 8%;
  display: flex;
  flex-direction: column;
}
@media only Screen and (max-width: 1023px) {
  #section2 .top a:nth-child(1) {
    order: 1;
    margin: 10% auto 2% auto;
  }
}
@media only Screen and (max-width: 1023px) {
  #section2 .top a:nth-child(2) {
    order: 2;
    margin: 5% auto 12% auto;
  }
}
@media only Screen and (max-width: 1023px) {
  #section2 .top {
    position: relative;
    top: unset;
    margin: auto;
  }
}
#section2 .top a {
  overflow: hidden;
  display: flex;
}

figure {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 3px solid rgba(156, 44, 7, 0.5);
  border-radius: 10px;
  min-width: 440px;
}
figure img {
  display: block;
  position: relative;
  z-index: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transform: scale(1);
}
figure figcaption {
  position: absolute;
  top: 35%;
  left: 5%;
  color: white;
  width: 50%;
  z-index: 1;
}
@media only Screen and (max-width: 576px) {
  figure figcaption {
    width: 66%;
    top: 12%;
    font-size: 90%;
  }
}
figure figcaption b {
  font-family: Tahoma, sans-serif;
  font-size: 110%;
  transition: text-decoration-color 0.5s ease;
  text-decoration: underline;
  text-decoration-color: transparent;
}
@media only Screen and (min-width: 1024px) {
  figure:hover figcaption b {
    text-decoration-color: white;
  }
}
@media only Screen and (max-width: 1023px) {
  figure {
    min-width: unset;
  }
}

@media only Screen and (min-width: 1024px) {
  .scroll-animation-desktop img {
    transform: scale(1.1);
    opacity: 0.975;
  }
}

@media only Screen and (max-width: 1023px) {
  .scroll-animation-mobile img {
    transform: scale(1.1);
    opacity: 0.975;
  }
  .scroll-animation-mobile img + figcaption b {
    text-decoration-color: white;
  }
}

@media only Screen and (min-width: 1024px) {
  .d-lg-has-height {
    height: initial;
    width: inherit;
  }
}

@media only Screen and (min-width: 1024px) {
  .d-lg-0-height {
    height: 0;
    width: 0;
  }
}

/* #section3 */
#section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 9% 0;
}
#section3 article,
#section3 div {
  width: 40%;
  margin: 0;
  height: fit-content;
}
@media only Screen and (max-width: 1023px) {
  #section3 article,
  #section3 div {
    width: 90%;
    border-radius: 5px;
  }
}
#section3 article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section3 article:nth-child(4) {
  text-align: right;
}
#section3 div {
  position: relative;
  padding: 24% 0 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}
#section3 div p {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  position: absolute;
  top: 2%;
  right: 2%;
  bottom: 2%;
  left: 2%;
  font-family: Poppins-Medium;
  transition: background-color 0.5s linear, opacity 0.5s linear, top 0.5s linear, right 0.5s linear, bottom 0.5s linear, left 0.5s linear;
}
#section3 div p span {
  margin: 5%;
  opacity: 0;
  transition: opacity 0.25s linear;
  height: fit-content;
  width: 200px;
}
#section3 div p b {
  margin: 5%;
}
#section3 div .scrollTwo.animation {
  background-color: #9c2c07;
  opacity: 0.95;
  top: 7%;
  right: 5%;
  bottom: 7%;
  left: 5%;
}
#section3 div .scrollTwo.animation span {
  opacity: 1;
}
#section3 div:nth-child(2) {
  background-image: url(../images/job.jpg);
  margin-bottom: 25px;
}
#section3 div:nth-child(3) {
  background-image: url(../images/startup.jpg);
  margin-top: 25px;
}
#section3 div:nth-child(3) p {
  text-align: right;
}
#section3 div:nth-child(3) p span {
  align-self: end;
}
@media only Screen and (max-width: 1023px) {
  #section3 {
    flex-direction: column;
    margin: 5% auto auto auto;
    align-items: center;
  }
  #section3 article:nth-child(1) {
    order: 1;
  }
  #section3 article:nth-child(1) h3 {
    margin-left: 3%;
    order: 0;
  }
  #section3 div:nth-child(2) {
    order: 2;
    margin: 7.5% 0 15% 0;
    padding: 27% 0;
  }
  #section3 div:nth-child(3) {
    order: 4;
    margin: 7.5% 0 3% 0;
    padding: 27% 0;
  }
  #section3 article:nth-child(4) {
    order: 3;
  }
  #section3 article:nth-child(4) h3 {
    margin-right: 3%;
    order: 0;
  }
}

/* #section4 */
#section4 {
  height: 388px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.25% 4% 6.25%;
}
@media only Screen and (max-width: 767px) {
  #section4 {
    height: unset;
    flex-direction: column;
    padding: 15% 4.5%;
  }
}
#section4 p {
  width: 25%;
  height: 150px;
  border: 2px solid #9c2c07;
  color: #9c2c07;
  padding: 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
@media only Screen and (max-width: 767px) {
  #section4 p {
    width: 94%;
    margin: 7.5% 0;
    height: unset;
    min-height: 100px;
  }
}
#section4 p::after {
  position: absolute;
  content: "";
  top: -50px;
  left: calc(50% - 25px);
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #9c2c07;
  border-left: 25px solid transparent;
}

/* #section5 */
#section5 {
  width: 100%;
  padding: 35px 0 70px 0;
  background-color: rgba(156, 44, 7, 0.025);
}
@media only Screen and (max-width: 1023px) {
  #section5 {
    padding: 35px 0 35px 0;
  }
}
#section5 h2 {
  text-align: left;
  margin: auto auto 40px 7%;
}
#section5 div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1600px;
  margin: auto;
  flex-wrap: wrap;
}
@media only Screen and (max-width: 1023px) {
  #section5 div {
    justify-content: space-evenly;
  }
}
@media only Screen and (max-width: 576px) {
  #section5 div {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
#section5 div img {
  margin: auto auto;
  max-width: 220px;
  width: 21%;
  height: 100%;
  filter: grayscale(100%);
  border: 1px solid lightgrey;
  clip-path: inset(10px 10px 25px round 25px 0);
}
@media only Screen and (max-width: 1023px) {
  #section5 div img {
    margin: 2% auto auto 5%;
    width: 50%;
  }
}
@media only Screen and (max-width: 576px) {
  #section5 div img {
    margin: 2% auto;
  }
}
#section5 div div {
  display: flex;
  flex-direction: column;
  width: 19%;
  margin: 1% 4% 1% 0;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div {
    width: 50%;
    margin: 5% auto;
  }
}
@media only Screen and (max-width: 576px) {
  #section5 div div {
    width: 60%;
  }
}
#section5 div div h3 {
  margin: 0;
  text-align: center;
  width: 100%;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div h3 {
    text-align: center;
    height: initial;
    padding: 3% 0;
  }
}
#section5 div div h3 span {
  display: inline;
  color: #9c2c07;
}
#section5 div div p {
  width: 100%;
  height: 222px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div p {
    width: 100%;
    height: initial;
  }
}
#section5 div div p span:nth-child(1) {
  display: inline-block;
  text-align: right;
  color: #303030;
  opacity: 0.95;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div p span:nth-child(1) {
    text-align: center;
    height: initial;
    padding: 3% 0;
  }
}
#section5 div div p span:nth-child(2) {
  display: inline-block;
  text-align: right;
  height: 111px;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div p span:nth-child(2) {
    text-align: center;
    padding: 3% 0;
  }
}
@media only Screen and (max-width: 576px) {
  #section5 div div p span:nth-child(2) {
    height: initial;
  }
}
#section5 div div span:nth-child(3) {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 11px auto 50px auto;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div span:nth-child(3) {
    width: 100%;
  }
}
#section5 div div span:nth-child(3) .fab {
  padding: 7px 9px;
  margin: auto 3%;
  text-decoration: none;
}
@media only Screen and (max-width: 1023px) {
  #section5 div div span:nth-child(3) .fab {
    margin: auto 0;
  }
}

/* slick */
.slk {
  display: flex;
  justify-content: flex-end;
  background-color: #f9e9d2;
  padding: 25px 0;
}
@media only Screen and (max-width: 1023px) {
  .slk {
    justify-content: center;
  }
}
.slk div {
  width: 200px;
  margin-right: 10%;
}
@media only Screen and (max-width: 1023px) {
  .slk div {
    margin: 0;
  }
}

/*# sourceMappingURL=home.css.map */
