@charset "utf-8";
/* global */

body {
  overflow: auto;
  font-family: "Trebuchet MS", sans-serif;
  max-width: 1920px;
  margin: auto;
}

* {
  padding: 0;
  margin: 0;
}

h2,
h3,
nav ul a {
  font-family: Tahoma, sans-serif;
  color: black;
}

h2,
h3 {
  font-size: 110%;
}

h2 {
  padding-top: 10px;
}

article q,
div q,
header h1 span,
#section2 p {
  opacity: 0.95;
}

article span,
aside span,
#section2 p span:nth-child(1) {
  color: #303030;
}

article span,
aside span {
  text-align: justify;
  display: inline-block;
}

img {
  border: 1px solid lightgray;
}

#section1 p,
article p {
  border: 2px solid #9c2c07;
  color: #9c2c07;
  padding: 25px;
}

header .fab {
  padding: 7px 11px;
  position: absolute;
  text-decoration: none;
  bottom: -14px;
  right: 15px;
  border-radius: 50%;
}

#section2 .fab {
  padding: 7px 11px;
  margin: auto 3%;
  text-decoration: none;
}

.fab:hover {
  background: #9c2c07;
}

.fa-facebook-f {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* nav */

nav {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 50px;
  z-index: 999;
}

nav ul {
  text-align: center;
}

nav ul:nth-child(1) {
  width: 100%;
}

nav ul:nth-child(2) {
  width: 200px;
}

nav ul li {
  display: inline-block;
}

nav ul li a:hover {
  color: white;
  background-color: rgba(156, 44, 7, 0.95);
}

nav ul a {
  padding: 5px 7.5px;
  text-decoration: none;
  background-color: rgba(245, 245, 245, 0.95);
  border-radius: 5px;
  font-size: large;
  outline: none;
  display: inline-block;
}

/* header */

header {
  background-image: url("../images/header.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 19.2% 10.8%;
  width: 78.4%;
  text-align: center;
}

header h1 {
  position: absolute;
  bottom: 12.5%;
  right: 5%;
  color: white;
  width: 50%;
  border-radius: 5px;
}

header h1 span {
  font-size: 90%;
}

/* article */

article {
  width: 55%;
  margin: auto;
}

article p {
  margin: 4% auto;
}

article h2 {
  margin: calc(65px + 4%) auto 2% 4%;
}

/* #section1  */

#section1 {
  position: relative;
}

#section1 img {
  position: relative;
  border-radius: 5px;
  display: block;
  margin: auto;
}

#section1 img:nth-child(1) {
  bottom: -350px;
  z-index: 999;
  left: 225px;
}

#section1 img:nth-child(2) {
  bottom: 200px;
  left: -125px;
}

#section1 p {
  width: 300px;
  margin: auto;
  position: relative;
  top: -150px;
  left: -175px;
}

#section1 aside {
  width: 425px;
  position: absolute;
  left: calc(50% + 65px);
  top: calc(50% + 45px);
}

#section1 aside h3 {
  margin: auto auto 2% 2%;
}

#section1 img:nth-child(4) {
  left: -245px;
  bottom: 100px;
}

/* #section2 */

#section2 {
  width: 100%;
  padding: 35px 0;
  background-color: rgba(156, 44, 7, 0.025);
}

#section2 div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section2 div div {
  display: flex;
  flex-direction: column;
  width: 222px;
  margin: auto 1% auto 1%;
}

#section2 h2 {
  text-align: left;
  margin: auto auto 40px 8%;
}

#section2 img {
  border-radius: 50%;
  margin: auto 1.5% auto 1.5%;
  filter: grayscale(100%);
}

#section2 h3 {
  margin: 0;
  text-align: right;
  width: 222px;
}

#section2 h3 span {
  display: inline;
  color: #9c2c07;
}

#section2 p {
  width: 222px;
  height: 222px;
  text-align: left;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#section2 p span:nth-child(1) {
  text-align: right;
  display: inline-block;
}

#section2 p span:nth-child(2) {
  display: inline-block;
  height: 111px;
}

#section2 div div span:nth-child(3) {
  display: inline-block;
  width: 222px;
  text-align: center;
  margin: 11px auto 50px auto;
}

/* #section3 */

#section3 {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

figure {
  position: sticky;
  top: 25vh;
  /* quater 100vh */
  z-index: 1;
  overflow: hidden;
  margin: 20vh 0 20vh 8%;
  /* anything */
  border: 3px solid rgba(156, 44, 7, 0.5);
  border-radius: 10px;
  align-self: flex-start;
  min-width: 440px;
}

.block {
  display: block;
}

.none {
  display: none;
}

figure img {
  display: block;
  position: relative;
  z-index: 0;
  margin: auto;
  border: none;
  width: 100%;
  height: 100%;
}

figure figcaption {
  position: absolute;
  top: 35%;
  left: 5%;
  color: white;
  font-size: 110%;
  width: 50%;
  z-index: 1;
}

figcaption b {
  font-size: 130%;
}

figure:hover img,
figure:focus img {
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transform: scale(1.035);
  opacity: 0.975;
}

figure:hover figcaption b,
figure:focus figcaption b {
  text-decoration: underline;
}

/* slick */

.slk {
  display: flex;
  justify-content: flex-end;
  background-color: antiquewhite;
  padding: 25px 0;
}

.slk div {
  width: 200px;
  margin-right: 10%;
}

.slk img {
  border: none;
}

/* footer */

footer {
  display: flex;
  background-color: rgba(156, 44, 7, 0.95);
  justify-content: space-around;
  align-items: center;
}

footer ul {
  list-style-type: none;
  color: white;
  font-family: Tahoma, sans-serif;
}

footer ul:nth-child(1) {
  padding: 30px 0 15px 0;
}

footer ul a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: large;
  outline: none;
  display: inline-block;
  width: 100%;
}

#over {
  border-top: 1px solid white;
  padding: 5px 10px;
  width: 100%;
}

footer ul li a:hover {
  color: black;
}

/* breaks */

@media only Screen and (max-width: 1023px) {
  header h1 {
    font-size: 120%;
  }

  article {
    width: 90%;
  }

  article h2 {
    margin: 6% auto 2% 2%;
  }

  article p {
    padding: 1.5%;
  }

  #section1 {
    position: static;
  }

  #section1 img {
    position: static;
    margin-top: 4%;
    height: 100%;
    display: block;
    left: unset;
    bottom: unset;
  }

  #section1 img:nth-child(1),
  #section1 img:nth-child(2) {
    width: 60%;
  }

  #section1 img:nth-child(4) {
    width: 90%;
    margin-bottom: 6%;
  }

  #section1 p,
  #section1 aside {
    position: static;
    left: unset;
    top: unset;
    width: 87%;
    margin: 4% auto;
    padding: 1.5%;
  }

  #section2 {
    padding: 0;
  }

  #section2 div {
    flex-direction: column;
  }

  #section2 div div {
    width: 60%;
    margin: auto;
  }

  #section2 img {
    display: block;
    margin: auto auto 10px auto;
  }

  #section2 p {
    width: 100%;
    height: initial;
  }

  #section2 h3,
  #section2 p span:nth-child(1),
  #section2 p span:nth-child(2) {
    text-align: center;
    height: initial;
    padding: 3% 0;
  }

  #section2 div div span:nth-child(3) {
    width: 100%;
  }

  #section2 .fab {
    margin: auto 0;
  }

  #section3 {
    flex-direction: column;
    align-items: center;
    width: 97%;
    height: unset;
  }

  #section3 p {
    order: 3;
    margin-bottom: 4%;
    text-align: justify;
    padding: 0 5.5%;
  }
  
  #section3 figure:nth-child(2) {
    order: 1;
    margin: 6% auto 2% auto;
  }

  #section3 figure:nth-child(3) {
    order: 2;
    margin: 2% auto 6% auto;
  }

  #section3 figure {
    position: relative;
    top: unset;
    min-width: unset;
  }

  .none {
    display: block;
  }

  figure figcaption {
    font-size: 100%;
  }

  figcaption b {
    font-size: 120%;
  }

  .slk {
    justify-content: center;
  }

  .slk div {
    margin: 0;
  }
}

@media only Screen and (max-width: 576px) {
  header {
    min-height: 10.8vh;
    background-image: url(../images/headerm.jpg);
  }

  header h1 {
    font-size: 100%;
  }

  nav {
    align-items: baseline;
  }

  nav ul:nth-child(1) {
    text-align: left;
    margin-left: 2.5%;
  }

  nav ul:nth-child(1) li {
    margin-top: 5px;
  }

  nav ul:nth-child(2) {
    text-align: right;
    margin-right: 2.5%;
  }

  nav ul:nth-child(2) li {
    margin-top: 5px;
  }

  nav ul a,
  article,
  #section1 p,
  #section1 aside,
  #section2,
  footer ul li,
  footer ul li a {
    font-size: 90%;
  }
}

@media only Screen and (max-width: 320px) {

  nav ul a,
  article,
  header h1,
  #section1 p,
  #section1 aside,
  #section2 {
    font-size: 70%;
  }

  footer ul li,
  footer ul li a {
    font-size: 85%;
  }
}

@media only screen and (min-width: 1921px) {
  body {
    box-shadow: 1px 0 grey, -1px 0 grey;
  }
}