@charset "utf-8";
/* global */

* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* nav */

nav {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 999;
}

nav ul {
  text-align: center;
}

nav ul:nth-child(1) {
  width: 100%;
}

nav ul:nth-child(2) {
  width: 200px;
}

nav ul li {
  display: inline;
}

nav ul li a:hover {
  background-color: rgba(245, 245, 245, 0.4);
  color: black;
}

nav ul a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: large;
}

/* header */

header {
  background-image: url("../images/header.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 19.2% 10.8%;
  width: 78.4%;
  text-align: center;
 

}

header h1 {
  position: absolute;
  bottom: 12.5%;
  right: 10%;
  color: white;
  width: 45%;
  border-radius: 5px;
}

header h1 span {
  opacity: 0.8;
  font-size: 90%;
}

.fa {
  padding: 7px 11px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  bottom: -14px;
  right: 15px;
  border-radius: 50%;
}

.fa:hover {
  background: #f96332;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

/* article */

article {
  width: 55%;
  margin: auto;
}

article h2 {
  margin: 4% auto 2% 2%;
}

article p {
  border: 2px solid #f96332;
  display: block;
  margin: 2% auto;
  color: #f96332;
  opacity: 1;
  padding: 1.5%;
}

article q {
  opacity: 0.5;
}

/* breaks */

@media only Screen and (max-width: 992px) {
  nav ul a,
  header h1 {
    font-size: 120%;
  }
  article {
    width: 90%;
    font-size: 80%;
  }
}
@media only Screen and (max-width: 576px) {
  nav ul a,
  header h1 {
    font-size: 100%;
  }
}
@media only Screen and (max-width: 320px) {
  nav ul a,
  header h1 {
    font-size: 65%;
  }
}
