$c1: grey;
$c2: #303030;
$c3: white;
$c4: #9c2c07;
$c5: #3b5998;
$c6: #55acee;
$c7: #ebaf8d;
$c8: #007bb5;
$c9: lightgrey;
$c10: #ebaf8d;
$c11: rgba(156, 44, 7, 0.5);
$c12: antiquewhite;
$c13: rgba(245, 245, 245, 0.75);
$c14: darken(#dd4b39, 8.8%);
$c15: black;
$c16 :#dd7439;
$c17: #FCEFED;
$c18:#bc4030;