$c1: grey;
$c2: #303030;
$c3: white;
$c4: #9c2c07;
$c5: #3b5998;
$c6: #55acee;
$c7: #dd4b39;
$c8: #007bb5;
$c9: lightgrey;
$c10: rgba(156, 44, 7, 0.025);
$c11: rgba(156, 44, 7, 0.5);
$c12: darken(antiquewhite,1);
$c13: rgba(245, 245, 245, 0.75);
$c14: rgba(156, 44, 7, 0.95);
$c15: black;