$c1: grey;
$c2: #303030;
$c3: white;
$c4: #9c2c07;
$c5: #3b5998;
$c6: #55acee;
$c7: #ebaf8d;
$c8: #007bb5;
$c9: lightgrey;
$c10: #ebaf8d;
$c11: lighten(#9c2c07, 8.8%);
$c12: antiquewhite;
$c13: rgba(antiquewhite, 0.67);
$c14: lighten(#9c2c07, 8.8%);
$c15: black;
$c16: #dd7439;
