@import "variables.scss";

/* icons */

.fab {
  transition: 0.25s ease-in-out background;
  &:hover,
  &:focus {
    background: $c4;
  }
}

.fa-facebook-f {
  background: $c5;
  color: $c3;
}

.fa-twitter {
  background: $c6;
  color: $c3;
}

.fa-google {
  background: $c7;
  color: $c3;
}

.fa-linkedin {
  background: $c8;
  color: $c3;
}

/* header */

header {
  background-image: url(../images/header.webp);
  background-size: auto 66%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  text-align: right;
  padding: 50vh 0;
  min-height: 300px;
  box-sizing: border-box;
  background-attachment: fixed;
  border-bottom: 1px solid rgba($c2, 0.275);
  @media only Screen and (max-width: 1023px) {
    background-image: url(../images/headerm.webp);
    padding: 22.5% 0;
    min-height: 200px;
    background-size: 67%;
    background-position: center left;
    background-attachment: initial;
  }
  h1 {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: fit-content;
    border-radius: 5px;
    font-style: oblique;
    font-size: 1.75em;
    text-shadow:
      -1px -1px 1px $c3,
      1px -1px 1px $c3,
      -1px 1px 1px $c3,
      1px 1px 1px $c3;
    @media only Screen and (max-width: 1023px) {
      font-size: 17px;
    }
    svg {
      width: 100%;
      max-width: 75px;
      height: auto;
      .font {
        font-size: 17px;
        font-style: normal;
        font-weight: 100;
        fill: $c2;
      }
    }
    a {
      color: $c2;
      font-weight: 100;
      transition: text-decoration-color 0.2s ease;
      text-decoration: underline;
      text-decoration-color: transparent;
      &:hover {
        text-decoration-color: $c2;
      }
    }
  }
  .fab {
    padding: 7px 11px;
    position: absolute;
    text-decoration: none;
    bottom: 14px;
    right: 15px;
    border-radius: 50%;
    z-index: 3;
    @media only Screen and (max-width: 1023px) {
      bottom: -14px;
    }
    @media only Screen and (max-width: 576px) {
      display: none;
    }
  }
}

/* article */

article {
  width: 55%;
  margin: auto;
  @media only Screen and (max-width: 1023px) {
    width: 90%;
  }
  h2 {
    margin: calc(65px + 4%) auto 2% 4%;
    @media only Screen and (max-width: 1023px) {
      margin: 6% auto 2% 2%;
    }
  }
  span {
    color: $c2;
    text-align: justify;
    display: inline-block;
  }
  p {
    margin: 10% auto auto auto;
    border: 2px solid $c4;
    color: $c4;
    padding: 25px;
    q {
      opacity: 0.95;
    }
  }
}

/* #section1  */

#section1 {
  position: relative;
  height: 100vw;
  max-height: 1230px;
  max-width: 1230px;
  width: 100%;
  margin: 10% auto 0 auto;
  @media only Screen and (max-width: 1023px) {
    position: static;
    height: initial;
    max-height: initial;
    max-width: initial;
    margin: auto;
  }
  img {
    position: absolute;
    border-radius: 5px;
    display: block;
    margin: auto;
    border: 1px solid $c9;
    @media only Screen and (max-width: 1023px) {
      position: static;
      margin-top: 4%;
      height: 100%;
      display: block;
      left: unset;
      bottom: unset;
    }
    &:nth-child(1) {
      top: 16%;
      z-index: 1;
      left: 50%;
      width: 44%;
      height: auto;
      @media only Screen and (max-width: 1023px) {
        width: 60%;
      }
    }
    &:nth-child(2) {
      top: 0;
      width: 52.5%;
      height: auto;
      left: 6%;
      @media only Screen and (max-width: 1023px) {
        width: 60%;
      }
    }
    &:nth-child(4) {
      left: 6%;
      bottom: 0;
      width: 48.5%;
      height: auto;
      @media only Screen and (max-width: 1023px) {
        width: 80%;
        margin-bottom: 10%;
      }
    }
  }
  img + p {
    width: 35.5%;
    margin: auto;
    position: absolute;
    top: 37%;
    bottom: 34%;
    left: 18.75%;
    border: 2px solid $c4;
    color: $c4;
    padding: 3.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    @media only Screen and (max-width: 1023px) {
      justify-content: flex-start;
      position: static;
      width: 87%;
      margin: 4% auto 10% auto;
      padding: 1.5%;
    }
    q {
      opacity: 0.95;
      @media only Screen and (max-width: 1023px) {
        margin-bottom: 30px;
      }
    }
  }
  aside {
    width: 36%;
    position: absolute;
    left: 58%;
    top: 44%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 56%;
    @media only Screen and (max-width: 1023px) {
      justify-content: space-between;
      position: static;
      width: 90%;
      margin: 4% auto;
      height: initial;
    }
    h2 {
      width: 100%;
      padding-top: 0;
      text-align: center;
    }
    h2 + p {
      width: 100%;
      margin: 1.5% 0;
    }
  }
  div:nth-child(2),
  div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      width: 48%;
      display: inline-block;
      text-align: right;
    }
    p {
      width: 48%;
      text-align: left;
      margin: 1.5% 0;
    }
  }
  div:nth-child(3) {
    h3 {
      order: 1;
      text-align: left;
      @media only Screen and (max-width: 1023px) {
        order: initial;
        text-align: right;
      }
    }
    p {
      order: 2;
      text-align: right;
      @media only Screen and (max-width: 1023px) {
        order: initial;
        text-align: left;
      }
    }
  }
}

/* #section2 */

#section2 {
  width: 87.5%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  @media only Screen and (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: unset;
  }
  p {
    @media only Screen and (max-width: 1023px) {
      order: 3;
      margin-bottom: 10%;
      text-align: justify;
    }
  }
  a {
    align-self: flex-start;
    position: sticky;
    /* quater 100vh */
    top: 25vh;
    /* anything */
    margin: 20vh 0 20vh 8%;
    @media only Screen and (max-width: 1023px) {
      position: relative;
      top: unset;
    }
    &:nth-child(2) {
      @media only Screen and (max-width: 1023px) {
        order: 1;
        margin: 10% auto 2% auto;
      }
    }
    &:nth-child(3) {
      @media only Screen and (max-width: 1023px) {
        order: 2;
        margin: 5% auto 12% auto;
      }
    }
    figure {
      position: relative;
      z-index: 1;
      overflow: hidden;
      border: 3px solid $c11;
      border-radius: 10px;
      min-width: 440px;
      @media only Screen and (max-width: 1023px) {
        min-width: unset;
      }
      img {
        display: block;
        position: relative;
        z-index: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        transition:
          transform 0.25s ease-out,
          opacity 0.25s ease-out;
      }
      &:hover img,
      &:focus img {
        transform: scale(1.035);
        opacity: 0.975;
      }
      figcaption {
        position: absolute;
        top: 35%;
        left: 5%;
        color: $c3;
        width: 50%;
        z-index: 1;
        @media only Screen and (max-width: 576px) {
          width: 66%;
          top: 12%;
          font-size: 90%;
        }
        b {
          font-family: $font2;
          font-size: 110%;
          transition: text-decoration-color 0.2s ease;
          text-decoration: underline;
          text-decoration-color: transparent;
        }
      }
      &:hover figcaption b,
      &:focus figcaption b {
        text-decoration-color: $c3;
      }
    }
  }
}

.block {
  display: block;
}

.none {
  display: none;
  @media only Screen and (max-width: 1023px) {
    display: block;
  }
}

/* #section3 */

#section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin:  0 0 9% 0;
  article,
  div {
    width: 40%;
    margin: 0;
    height: fit-content;
    @media only Screen and (max-width: 1023px) {
      width: 90%;
      border-radius: 5px;
    }
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  article:nth-child(4) {
    text-align: right;
  }
  div {
    position: relative;
    padding: 24% 0 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    p {
      display: flex;
      flex-direction: column;
      justify-content: end;
      color: $c3;
      position: absolute;
      top: 2%;
      right: 2%;
      bottom: 2%;
      left: 2%;
      transition:
        background-color 0.4s linear,
        opacity 0.4s linear,
        top 0.4s linear,
        right 0.4s linear,
        bottom 0.4s linear,
        left 0.4s linear;
      span {
        margin: 5%;
        opacity: 0;
        transition: opacity 0.25s linear;
        height: fit-content;
        width: 200px;
      }
      b {
        margin: 5%;
      }
    }
    &:hover p,
    &:focus p {
      background-color: $c14;
      opacity: 0.85;
      top: 7%;
      right: 7%;
      bottom: 7%;
      left: 7%;
      span {
        opacity: 1;
      }
    }
    &:nth-child(2) {
      background-image: url(../images/job.jpg);
      margin-bottom: 25px;
    }
    &:nth-child(3) {
      background-image: url(../images/startup.jpg);
      margin-top: 25px;
      p {
        text-align: right;
        span {
          align-self: end;
        }
      }
    }
  }
  @media only Screen and (max-width: 1023px) {
    flex-direction: column;
    margin: 5% auto auto auto;
    align-items: center;
    article:nth-child(1) {
      order: 1;
      h3 {
        margin-left: 3%;
        order: 0;
      }
    }
    div:nth-child(2) {
      order: 2;
      margin: 7.5% 0 15% 0;
      padding: 27% 0;
    }
    div:nth-child(3) {
      order: 4;
      margin: 7.5% 0 3% 0;
      padding: 27% 0;
    }
    article:nth-child(4) {
      order: 3;
      h3 {
        margin-right: 3%;
        order: 0;
      }
    }
  }
}

/* #section4 */

#section4 {
  height: 388px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.25% 4% 6.25%;
  @media only Screen and (max-width: 767px) {
    height: unset;
    flex-direction: column;
    padding: 15% 4.5%;
  }
  p {
    width: 25%;
    height: 150px;
    border: 2px solid $c4;
    color: $c4;
    padding: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    @media only Screen and (max-width: 767px) {
      width: 94%;
      margin: 7.5% 0;
      height: unset;
      min-height: 100px;
    }
    &::after {
      position: absolute;
      content: "";
      top: -50px;
      left: calc(50% - 25px);
      border-top: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid $c4;
      border-left: 25px solid transparent;
    }
  }
}

/* #section5 */

#section5 {
  width: 100%;
  padding: 35px 0 70px 0;
  background-color: $c10;
  @media only Screen and (max-width: 1023px) {
    padding: 35px 0 35px 0;
  }
  h2 {
    text-align: left;
    margin: auto auto 40px 7%;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1600px;
    margin: auto;
    flex-wrap: wrap;
    @media only Screen and (max-width: 1023px) {
      justify-content: space-evenly;
    }
    @media only Screen and (max-width: 576px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    img {
      margin: auto auto;
      max-width: 220px;
      width: 21%;
      height: 100%;
      filter: grayscale(100%);
      border: 1px solid $c9;
      clip-path: inset(10px 10px 25px round 25px 0);
      @media only Screen and (max-width: 1023px) {
        margin: 2% auto auto 5%;
        width: 50%;
      }
      @media only Screen and (max-width: 576px) {
        margin: 2% auto;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      width: 19%;
      margin: 1% 4% 1% 0;
      @media only Screen and (max-width: 1023px) {
        width: 50%;
        margin: 5% auto;
      }
      @media only Screen and (max-width: 576px) {
        width: 60%;
      }
      h3 {
        margin: 0;
        text-align: center;
        width: 100%;
        @media only Screen and (max-width: 1023px) {
          text-align: center;
          height: initial;
          padding: 3% 0;
        }
        span {
          display: inline;
          color: $c4;
        }
      }
      p {
        width: 100%;
        height: 222px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @media only Screen and (max-width: 1023px) {
          width: 100%;
          height: initial;
        }
        span:nth-child(1) {
          display: inline-block;
          text-align: right;
          color: $c2;
          opacity: 0.95;
          @media only Screen and (max-width: 1023px) {
            text-align: center;
            height: initial;
            padding: 3% 0;
          }
        }
        span:nth-child(2) {
          display: inline-block;
          text-align: right;
          height: 111px;
          @media only Screen and (max-width: 1023px) {
            text-align: center;
            padding: 3% 0;
          }
          @media only Screen and (max-width: 576px) {
            height: initial;
          }
        }
      }
      span:nth-child(3) {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 11px auto 50px auto;
        @media only Screen and (max-width: 1023px) {
          width: 100%;
        }
        .fab {
          padding: 7px 9px;
          margin: auto 3%;
          text-decoration: none;
          @media only Screen and (max-width: 1023px) {
            margin: auto 0;
          }
        }
      }
    }
  }
}

/* slick */

.slk {
  display: flex;
  justify-content: flex-end;
  background-color: $c12;
  padding: 25px 0;
  @media only Screen and (max-width: 1023px) {
    justify-content: center;
  }
  div {
    width: 200px;
    margin-right: 10%;
    @media only Screen and (max-width: 1023px) {
      margin: 0;
    }
  }
}
