@import "variables.scss";

/* icons */

.fab:hover,
.fab:focus {
  background: $c4;
}

.fa-facebook-f {
  background: $c5;
  color: $c3;
}

.fa-twitter {
  background: $c6;
  color: $c3;
}

.fa-google {
  background: $c7;
  color: $c3;
}

.fa-linkedin {
  background: $c8;
  color: $c3;
}

/* header */

header {
  background-image: url("../images/header.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
  padding: 21% 0px;
  text-align: center;
  @media only Screen and (max-width: 576px) {
    background-image: url(../images/headerm.jpg);
  }
  h1 {
    position: absolute;
    bottom: 12.5%;
    right: 5%;
    width: 50%;
    text-shadow: $c1 1px 0 10px;
    border-radius: 5px;
    font-style: oblique;
    @media only Screen and (max-width: 1023px) {
      font-size: 130%;
    }
    @media only Screen and (max-width: 576px) {
      font-size: 112%;
    }
    @media only Screen and (max-width: 320px) {
      font-size: 86%;
    }
    span {
      font-size: 90%;
      opacity: 0.95;
    }
    a {
      color: $c3;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .fab {
    padding: 7px 11px;
    position: absolute;
    text-decoration: none;
    bottom: -14px;
    right: 15px;
    border-radius: 50%;
    z-index: 3;
    @media only Screen and (max-width: 576px) {
      display: none;
    }
  }
}

/* article */

article {
  width: 55%;
  margin: auto;
  @media only Screen and (max-width: 1023px) {
    width: 90%;
  }
  h2 {
    margin: calc(65px + 4%) auto 2% 4%;
    @media only Screen and (max-width: 1023px) {
      margin: 6% auto 2% 2%;
    }
    @media only Screen and (max-width: 576px) {
      margin: auto auto 2% 2%;
    }
  }
  span {
    color: $c2;
    text-align: justify;
    display: inline-block;
  }
  p {
    margin: 4% auto;
    border: 2px solid $c4;
    color: $c4;
    padding: 25px;
    @media only Screen and (max-width: 1023px) {
      padding: 1.5%;
    }
    q {
      opacity: 0.95;
    }
  }
}

/* #section1  */

#section1 {
  position: relative;
  @media only Screen and (max-width: 1023px) {
    position: static;
  }
  img {
    position: relative;
    border-radius: 5px;
    display: block;
    margin: auto;
    border: 1px solid $c9;
    @media only Screen and (max-width: 1023px) {
      position: static;
      margin-top: 4%;
      height: 100%;
      display: block;
      left: unset;
      bottom: unset;
    }
    &:nth-child(1) {
      bottom: -350px;
      z-index: 1;
      left: 225px;
      @media only Screen and (max-width: 1023px) {
        width: 60%;
      }
    }
    &:nth-child(2) {
      bottom: 200px;
      left: -125px;
      @media only Screen and (max-width: 1023px) {
        width: 60%;
      }
    }
    &:nth-child(4) {
      left: -245px;
      bottom: 100px;
      @media only Screen and (max-width: 1023px) {
        width: 90%;
        margin-bottom: 6%;
      }
    }
  }
  img + p {
    width: 300px;
    margin: auto;
    position: relative;
    top: -150px;
    left: -175px;
    border: 2px solid $c4;
    color: $c4;
    padding: 25px;
    @media only Screen and (max-width: 1023px) {
      position: static;
      width: 87%;
      margin: 4% auto;
      padding: 1.5%;
    }
    q {
      opacity: 0.95;
    }
  }
  aside {
    width: 425px;
    position: absolute;
    left: calc(50% + 65px);
    top: calc(50% + 45px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    @media only Screen and (max-width: 1023px) {
      justify-content: space-between;
      position: static;
      width: 70%;
      margin: 4% auto;
    }
    @media only Screen and (max-width: 576px) {
      width: 90%;
    }
    h2 {
      width: 100%;
      padding-top: 0;
      text-align: center;
      + p {
        width: 100%;
        + p + h3 {
          text-align: right;
        }
      }
    }
    p {
      width: 50%;
      display: inline-block;
      margin: 1.5% 0;
    }
  }
  h3 {
    width: 48%;
    display: inline-block;
    align-self: center;
    + p {
      order: 2;
      text-align: right;
      @media only Screen and (max-width: 1023px) {
        order: unset;
        text-align: left;
      }
      + h3 {
        order: 1;
        @media only Screen and (max-width: 1023px) {
          order: unset;
          text-align: right;
        }
      }
    }
  }
}

/* #section2 */

#section2 {
  width: 100%;
  padding: 35px 0;
  background-color: $c10;
  @media only Screen and (max-width: 1023px) {
    padding: 0;
  }
  h2 {
    text-align: left;
    margin: auto auto 40px 8%;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media only Screen and (max-width: 1023px) {
      justify-content: space-evenly;
    }
    @media only Screen and (max-width: 576px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    img {
      border-radius: 50%;
      margin: auto 1.5% auto 1.5%;
      filter: grayscale(100%);
      border: 1px solid $c9;
      @media only Screen and (max-width: 1023px) {
        display: block;
        margin: 2% auto auto 8%;
      }
      @media only Screen and (max-width: 576px) {
        margin: auto;
        width: 50%;
        height: 50%;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      width: 222px;
      margin: auto 1% auto 1%;
      @media only Screen and (max-width: 1023px) {
        width: 40%;
        margin: auto;
      }
      @media only Screen and (max-width: 576px) {
        width: 60%;
      }
      h3 {
        margin: 0;
        text-align: right;
        width: 222px;
        @media only Screen and (max-width: 1023px) {
          text-align: center;
          height: initial;
          padding: 3% 0;
        }
        span {
          display: inline;
          color: $c4;
        }
      }
      p {
        width: 222px;
        height: 222px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @media only Screen and (max-width: 1023px) {
          width: 100%;
          height: initial;
        }
        span:nth-child(1) {
          text-align: right;
          display: inline-block;
          color: $c2;
          opacity: 0.95;
          @media only Screen and (max-width: 1023px) {
            text-align: center;
            height: initial;
            padding: 3% 0;
          }
        }
        span:nth-child(2) {
          display: inline-block;
          height: 111px;
          @media only Screen and (max-width: 1023px) {
            text-align: center;
            padding: 3% 0;
          }
          @media only Screen and (max-width: 576px) {
            height: initial;
          }
        }
      }
      span:nth-child(3) {
        display: inline-block;
        width: 222px;
        text-align: center;
        margin: 11px auto 50px auto;
        @media only Screen and (max-width: 1023px) {
          width: 100%;
        }
        .fab {
          padding: 7px 9px;
          margin: auto 3%;
          text-decoration: none;
          @media only Screen and (max-width: 1023px) {
            margin: auto 0;
          }
        }
      }
    }
  }
}

/* #section3 */

#section3 {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  @media only Screen and (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: unset;
  }
  p {
    @media only Screen and (max-width: 1023px) {
      order: 3;
      margin-bottom: 4%;
      text-align: justify;
    }
  }
  a {
    align-self: flex-start;
    position: sticky;
    /* quater 100vh */
    top: 25vh;
    /* anything */
    margin: 20vh 0 20vh 8%;
    @media only Screen and (max-width: 1023px) {
      position: relative;
      top: unset;
    }
    &:nth-child(2) {
      @media only Screen and (max-width: 1023px) {
        order: 1;
        margin: 6% auto 2% auto;
      }
    }
    &:nth-child(3) {
      @media only Screen and (max-width: 1023px) {
        order: 2;
        margin: 2% auto 6% auto;
      }
    }
    figure {
      position: relative;
      z-index: 1;
      overflow: hidden;
      border: 3px solid $c11;
      border-radius: 10px;
      min-width: 440px;
      @media only Screen and (max-width: 1023px) {
        min-width: unset;
      }
      img {
        display: block;
        position: relative;
        z-index: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease-out, opacity 0.5s ease-out;
      }
      &:hover img,
      &:focus img {
        transform: scale(1.035);
        opacity: 0.975;
      }
      figcaption {
        position: absolute;
        top: 35%;
        left: 5%;
        color: $c3;
        width: 50%;
        z-index: 1;
        b {
          font-family: $font2;
          font-size: 110%;
        }
      }
      &:hover figcaption b,
      &:focus figcaption b {
        text-decoration: underline;
      }
    }
  }
}

.block {
  display: block;
}

.none {
  display: none;
  @media only Screen and (max-width: 1023px) {
    display: block;
  }
}

/* #section4 */

#section4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 9%;
  @media only Screen and (max-width: 1023px) {
    flex-direction: column;
    margin: auto;
    align-items: center;
    article:nth-child(1) {
      order: 2;
      h3 {
        margin-left: 3%;
      }
    }
    div:nth-child(2) {
      order: 3;
      margin-bottom: 3%;
      padding: 27% 0;
    }
    div:nth-child(3) {
      order: 1;
      margin-bottom: 3%;
      padding: 27% 0;
    }
    article:nth-child(4) {
      order: 4;
      h3 {
        margin-right: 3%;
      }
    }
  }
  article,
  div {
    width: 40%;
    margin: 0;
    height: fit-content;
    @media only Screen and (max-width: 1023px) {
      width: 90%;
      border-radius: 5px;
    }
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  article:nth-child(4) {
    text-align: right;
  }
  div {
    position: relative;
    padding: 12% 0;
    background-size: contain;
    background-repeat: no-repeat;
    p {
      display: flex;
      flex-direction: column;
      justify-content: end;
      color: $c3;
      position: absolute;
      top: 2%;
      right: 2%;
      bottom: 2%;
      left: 2%;
      transition: background-color 1s linear, opacity 1s linear, top 1s linear, right 1s linear, bottom 1s linear,
        left 1s linear;
      span {
        margin: 5%;
        opacity: 0;
        transition: opacity 1s linear;
        height: fit-content;
        width: 200px;
      }
      b {
        margin: 5%;
      }
    }
    &:hover p,
    &:focus p {
      background-color: $c14;
      opacity: 0.75;
      top: 7%;
      right: 7%;
      bottom: 7%;
      left: 7%;
      span {
        opacity: 1;
      }
    }
    &:nth-child(2) {
      background-image: url(../images/job.jpg);
    }
    &:nth-child(3) {
      background-image: url(../images/startup.jpg);
      p {
        text-align: right;
        span {
          align-self: end;
        }
      }
    }
  }
}

/* #section5 */

#section5 {
  background-color: $c10;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4%;
  @media only Screen and (max-width: 576px) {
    height: unset;
    flex-direction: column;
  }
  p { 

    width: 25%;
    height: 150px;
    border: 2px solid $c4;
    color: $c4;
    padding: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    @media only Screen and (max-width: 576px) {
      width: 94%;
      margin: 5% 0;
      height: unset;
      min-height: 10vh;
    }
    &::after {
      position: absolute;
      content: "";
      top: -50px;
      left: calc(50% - 25px);
      border-top: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid $c4;
      border-left: 25px solid transparent;
    }
  }
}

/* slick */

.slk {
  display: flex;
  justify-content: flex-end;
  background-color: $c12;
  padding: 25px 0;
  @media only Screen and (max-width: 1023px) {
    justify-content: center;
  }
  div {
    width: 200px;
    margin-right: 10%;
    @media only Screen and (max-width: 1023px) {
      margin: 0;
    }
  }
}