/* footer */

footer {
  display: flex;
  flex-wrap: wrap;
  font-family: $font2;
  background-color: lighten($c16, 8%);
  font-size: larger;
  padding: 20px;
  ul ~ ul {
    text-align: right;
    li {
      padding-right: 10px;
    }
  }
  ul {
    list-style-type: none;
    color: $c3;
    width: 50%;
    a {
      color: $c3;
      padding: 5px 0;
      text-decoration: none;
      outline: none;
      display: inline-block;
      width: fit-content;
      transition: 0.25s ease-in-out color;
      &:hover,
      &:focus {
        color: $c15;
      }
    }
  }
  .carousel {
    width: 100%;
    padding: 10px;
    .carousel-inner {
      width: 200px;
      margin: auto;
    }
  }
  hr {
    width: 88%;
    margin: 15px auto;
    color: $c3;
  }
  p {
    width: 100%;
    color: $c3;
    text-align: center;
    margin: 15px auto;
  }
}
