html {
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: $font1;
  max-width: 1920px;
  margin: auto;
  @include min_xxxxl {
    box-shadow:
      1px 0 $c1,
      -1px 0 $c1;
  }
}

h2,
h3 {
  font-family: $font2;
  font-size: 110%;
  font-weight: 500;
}

h2 {
  padding-top: 10px;
}

.hide {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  border-top: 1px solid rgba($c2, 0.275);
}

/* icons */

.fa-facebook-f {
  transition: 0.25s ease-in-out background-color;
  &:hover,
  &:focus {
    background-color: $c4;
  }
}

.fa-facebook-f {
  background: $c5;
  color: $c3;
}

.fa-square-facebook {
  background: $c3;
  color: $c5;
}

.fa-square-twitter {
  background: $c3;
  color: $c6;
}

.fa-square-google-plus {
  background: $c3;
  color: $c7;
}

.fa-square-share-nodes {
  background: $c3;
  color: $c8;
}
