/* nav */

.sticky {
   @include min_sm {
    position: sticky;
    background-image: url("../images/nav-texture.png");
    background-color: $c3;
  }
}

.absolute {
   @include min_sm {
    position: absolute;
  }
}

nav {
  position: absolute;
  font-family: $font2;
  max-width: 1920px;
  width: 92%;
  top: 0;
  padding: 0 4%;
  font-size: larger;
  color: $c15;
  z-index: 2;
   @include max_sm {
    position: sticky;
    background-image: url("../images/nav-texture.png");
    background-color: $c3;
    transition: 0.25s ease background-color;
    width: 100%;
    padding: 0;
    &:hover,
    &:focus {
      background-color: $c9;
      ul {
        height: 159.2px;
        li {
          transform: translateY(0);
        }
      }
    }
  }
  ul {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
     @include max_sm {
      flex-direction: column;
      transition: height 0.65s;
      height: 0;
    }
    .li-around {
      width: 66%;
      ul {
        display: flex;
        justify-content: space-evenly;
      }
       @include max_sm {
        width: initial;
      }
    }
    li {
      list-style-type: none;
      display: inline-block;
       @include max_sm {
        transition: transform 0.65s;
        transform: translateY(-79.2px);
        display: list-item;
        &:last-child {
          margin-bottom: 40px;
        }
      }
      a {
        color: inherit;
        width: fit-content;
        padding: 5px 7.5px;
        text-decoration: none;
        border-radius: 5px;
        outline: none;
        display: block;
        margin: 4% 0;
        background-image: url("../images/nav-texture.png");
        background-color: $c3;
        transition:
          0.1s ease background-color,
          color 0.1s ease;
         @include max_sm {
          margin: auto auto 10px auto;
          background-image: none;
          background-color: initial;
        }
        &:hover,
        &:focus {
          color: $c3;
          background-color: $c14;
          background-image: none;
        }
      }
    }
  }
  .fa-circle-dot {
    color: $c4;
    padding: 10px;
    align-self: baseline;
     @include min_sm {
      display: none;
    }
  }
  .fa-facebook-f {
    padding: 8px 11px;
    position: absolute;
    text-decoration: none;
    bottom: -14px;
    right: 15px;
    border-radius: 50%;
    font-size: initial;
    z-index: 3;
     @include min_sm {
      display: none;
    }
  }
}

/* header */

header {
  background-image: url(../images/header.webp);
  background-size: 66%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  text-align: right;
  padding: 50vh 0;
  min-height: 300px;
  box-sizing: border-box;
  background-attachment: fixed;
  border-bottom: 1px solid rgba($c2, 0.275);
   @include max_xxxl {
    background-image: url(../images/header-mobile.webp);
    padding: 22.5% 0;
    min-height: 200px;
    background-size: 67%;
    background-position: center left;
    background-attachment: initial;
  }
  h1 {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: fit-content;
    border-radius: 5px;
    font-style: oblique;
    font-size: 1.75em;
     @include max_xl {
      font-size: 17px;
    }
    svg {
      width: 100%;
      max-width: 75px;
      height: auto;
      .font {
        font-size: 17px;
        font-style: normal;
        font-weight: 100;
        fill: $c2;
      }
    }
    a {
      color: $c2;
      font-weight: 100;
      transition: text-decoration-color 0.2s ease;
      text-decoration: underline;
      text-decoration-color: $c3;
      &:hover {
        text-decoration-color: $c2;
      }
    }
  }
  .fa-facebook-f {
    padding: 8px 11px;
    position: absolute;
    text-decoration: none;
    font-size: inherit;
    bottom: 14px;
    right: 15px;
    border-radius: 50%;
    z-index: 3;
     @include max_xl {
      bottom: -14px;
    }
     @include max_sm {
      display: none;
    }
  }
}
