#nav {
    background-color: $c3;
    background-image: url(../images/nav-texture.webp);
    padding: 5px 0;
    width: 100%;
    will-change: top;
    display: flex;
    flex-wrap: wrap;
    font-family: $font2;
    max-width: 1920px;
    color: $c15;
    font-size: larger;
    z-index: 999;
    clip-path: inset(100%);
    @include max_sm {
        position: sticky;
        clip-path: initial;
        top: 0;
        padding: 0;
        > ul {
            height: 0;
        }
        &:hover,
        &:focus {
            background-color: $c9;
            > ul {
                height: 210px;
                li {
                    transform: translateY(0);
                }
            }
        }
    }
    ul {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: calc(100% - 40px);
        @include max_sm {
            flex-direction: column;
            transition: height 0.65s;
            will-change: height;
            justify-content: center;
            width: 100%;
        }
    }
    li {
        list-style-type: none;
        @include max_sm {
            display: list-item;
            will-change: transform;
            transition: transform 0.65s ease;
            transform: translateY(-105px);
        }
        a {
            color: inherit;
            width: fit-content;
            padding: 5px 7.5px;
            text-decoration: none;
            border-radius: 5px;
            outline: none;
            display: block;
            margin: auto 25px;
            @include max_sm {
                margin: auto auto 20px auto;
                display: block;
                transition:
                    0.1s ease background-color,
                    color 0.1s ease;
                will-change: background-color, color;
            }
            span.desktop {
                @include max_sm {
                    display: none;
                }
            }
            span.mobile {
                @include min_sm {
                    display: none;
                }
            }
            &:hover,
            &:focus {
                color: $c3;
                background-color: $c4;
                background-image: none;
            }
        }
    }
    .fa-circle-dot {
        width: fit-content;
        color: $c4;
        padding: 10px;
        align-self: baseline;
        @include max_sm {
            width: 100%;
        }
    }
}
