#section-8 {
    display: flex;
    justify-content: flex-end;
    background-color: $c12;
    padding: 25px 0;
     @include max_xl {
      justify-content: center;
    }
    .carousel-inner {
      width: 200px;
      margin-right: 10%;
       @include max_xl {
        margin: 0;
      }
    }
  }
  