#section-3 {
  width: 87.5%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 125vh;
  padding: 25vh 0;
  @include max_xxl {
    padding: 17%h 0;
    height: initial;
  }
  @include max_xl {
    padding: 25% 0 0 0;
  }
  @include max_md {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: initial;
    padding: initial;
  }
  p {
    width: 50%;
    @include max_xxl {
      width: 40%;
    }
    @include max_md {
      width: 75%;
      order: 1;
      margin: 17% 0 7.5% 0;
      text-align: justify;
    }
  }
  .scroll-container {
    width: 40%;
    align-self: flex-start;
    position: sticky;
    top: 25vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    @include max_xxl {
      width: 50%;
    }
    @include max_md {
      position: relative;
      top: initial;
      margin: auto;
      order: 2;
      width: 80%;
      align-items: center;
    }
    a {
      overflow: hidden;
      display: flex;
      width: 100%;
      @include max_md {
        margin: 17% 5% auto 5%;
      }
      figure {
        position: relative;
        z-index: 1;
        overflow: hidden;
        border: 3px solid $c14;
        @include max_md {
          margin: auto;
        }
        img {
          display: block;
          position: relative;
          z-index: 0;
          margin: auto;
          width: 100%;
          height: 100%;
        }
        figcaption {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          color: $c3;
          padding: 4%;
          z-index: 1;
          @include max_sm {
            font-size: 85%;
          }
          b {
            font-family: $font2;
            font-size: 110%;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.scroll {
  img {
    transition:
      transform 0.5s ease-out,
      opacity 0.5s ease-out;
    transform: scale(1);
    opacity: 1;
  }
  b {
    transition: text-decoration-color 0.5s ease;
    text-decoration: underline;
    text-decoration-color: transparent;
  }
  @include min_md {
    &:hover b {
      text-decoration-color: $c3;
    }
  }
}

.scroll-animation-desktop img {
  @include min_md {
    transform: scale(1.1);
    opacity: 0.95;
  }
}

.scroll-animation-mobile.scroll {
  @include max_md {
    img {
      transform: scale(1.1);
      opacity: 0.95;
      transition-delay: 0.5s;
    }
    b {
      text-decoration-color: $c3;
      transition-delay: 0.5s;
    }
  }
}

.d-lg-has-height {
  @include min_md {
    height: initial;
    width: inherit;
  }
}

.d-lg-0-height {
  @include min_md {
    height: 0;
    width: 0;
  }
}
