#slider-8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 6.25% calc(6.25% - 52px) 6.25%;
    @include max_xl {
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        height: fit-content;

        @include max_xl {
            width: 90%;
        }
        &:nth-child(1) {
            @include max_xl {
                order: 1;
                h3 {
                    margin-left: 3%;
                    order: 0;
                }
            }
        }
        &:nth-child(4) {
            text-align: right;
            @include max_xl {
                order: 3;
                h3 {
                    margin-right: 3%;
                    margin-top: 17%;
                    order: 0;
                }
            }
        }
        h3 {
            margin: 7.5% 0;
            @include max_xl {
                margin-top: 0;
            }
         }
        p {
            margin: 0  0 10% 0;
            border: 2px solid $c4;
            color: $c4;
            padding: 25px;
            font-size: clamp(14.5px, 1.5vw, 16px);
            @include max_xl {
                margin: auto;
            }
        }
    }
    div {
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        width: 45%;
        padding: 13.5% 0;
        height: fit-content;
        margin: 2.5% 0;
        border: 2px solid $c4;
        @include max_xl {
            width: 90%;
            padding: 27% 0;
            margin: 5% 0 0 0;
        }
        &:nth-child(2) {
            background-image: url(../images/slider-8-1.webp);
            @include max_xl {
                order: 2;
            }
        }
        &:nth-child(3) {
            background-image: url(../images/slider-8-2.webp);
            p {
                text-align: right;
                span {
                    align-self: end;
                }
            }
            @include max_xl {
                order: 4;
            }
        }
        p {
            display: flex;
            flex-direction: column;
            justify-content: end;
            color: $c3;
            position: absolute;
            top: 2%;
            right: 1%;
            bottom: 2%;
            left: 1%;
            transition:
                background-color 0.5s linear,
                opacity 0.5s linear,
                top 0.5s linear,
                right 0.5s linear,
                bottom 0.5s linear,
                left 0.5s linear;
            &.animation {
                transition-delay: 0.5s;
                background-color: $c14;
                opacity: 1;
                top: 5%;
                right: 3%;
                bottom: 5%;
                left: 3%;
                span,
                b {
                    transition: opacity 0.5s linear;
                    transition-delay: 0.5s;
                    opacity: 1;
                }
            }
            span {
                opacity: 0;
                margin: 5% 5% 0 5%;
                height: fit-content;
                font-size: clamp(15px, 1.2vw, 20px);
                width: 290px;
                @include max_sm {
                    width: 82.5%;
                }
            }
            b {
                opacity: 0;
                margin: 5%;
                font-size: clamp(15px, 1.4vw, 18px);
                font-weight: 500;
            }
        }
    }
}
