/* footer */

footer {
  display: flex;
  font-family: $font2;
  background-color: $c14;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: larger;
  ul:nth-child(1) {
    padding: 30px 0;
    > li:nth-child(1) {
      border-top: 1px solid $c3;
      padding: 10px 12.5px 10px 10px;
      max-width: 72px;
    }
  }
  ul ~ ul {
    text-align: right;
  
    li {
      padding-right: 10px;
    }
  }
  ul {
    list-style-type: none;
    color: $c3;
    @media only Screen and (max-width: 576px) {
      width: 100%;
    }
    a {
      color: $c3;
      padding: 5px 0;
      text-decoration: none;
      outline: none;
      display: inline-block;
      width: 100%;
      transition: 0.2s ease-in-out color;
      &:hover,
      &:focus {
        color: $c15;
      }
    }
  }
  hr {
    width: 60%;
    margin:  20px 20% 0 20%;
    @media only Screen and (max-width: 576px) {
      width: 90%;
      margin:  20px 5% 0 5%;
    }
  }
  p {
      width: 100%;
      color: $c3;
      text-align: center;
      padding: 10px 0;
      margin-top: 10px;
      margin-bottom: 10px;
  }
}
