/* icons */

.fa-facebook-f {
  transition: 0.25s ease-in-out background-color;
  &:hover,
  &:focus {
    background-color: $c4;
  }
}

.fa-facebook-f {
  background: $c5;
  color: $c3;
}

.fa-square-facebook {
  background: $c3;
  color: $c5;
}

.fa-square-twitter {
  background: $c3;
  color: $c6;
}

.fa-square-google-plus {
  background: $c3;
  color: $c7;
}

.fa-square-share-nodes {
  background: $c3;
  color: $c8;
}

/* header */

header {
  background-image: url(../images/header.webp);
  background-size: 66%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  text-align: right;
  padding: 50vh 0;
  min-height: 300px;
  box-sizing: border-box;
  background-attachment: fixed;
  border-bottom: 1px solid rgba($c2, 0.275);
  @media only Screen and (max-width: 1400px) {
    background-image: url(../images/headerm.webp);
    padding: 22.5% 0;
    min-height: 200px;
    background-size: 67%;
    background-position: center left;
    background-attachment: initial;
  }
  h1 {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: fit-content;
    border-radius: 5px;
    font-style: oblique;
    font-size: 1.75em;
    @media only Screen and (max-width: 1023px) {
      font-size: 17px;
    }
    svg {
      width: 100%;
      max-width: 75px;
      height: auto;
      .font {
        font-size: 17px;
        font-style: normal;
        font-weight: 100;
        fill: $c2;
      }
    }
    a {
      color: $c2;
      font-weight: 100;
      transition: text-decoration-color 0.2s ease;
      text-decoration: underline;
      text-decoration-color: $c3;
      &:hover {
        text-decoration-color: $c2;
      }
    }
  }
  .fa-facebook-f {
    padding: 8px 11px;
    position: absolute;
    text-decoration: none;
    font-size: inherit;
    bottom: 14px;
    right: 15px;
    border-radius: 50%;
    z-index: 3;
    @media only Screen and (max-width: 1023px) {
      bottom: -14px;
    }
    @media only Screen and (max-width: 576px) {
      display: none;
    }
  }
}

/* article */

article {
  width: 55%;
  margin: auto;
  @media only Screen and (max-width: 1023px) {
    width: 90%;
  }
  h2 {
    margin: calc(65px + 4%) auto 2% 4%;
    @media only Screen and (max-width: 1023px) {
      margin: 17% auto 2% 2%;
    }
  }
  span {
    color: $c2;
    text-align: justify;
    display: inline-block;
  }
  p {
    margin: 10% auto;
    border: 2px solid $c4;
    color: $c4;
    padding: 25px;
    font-size: clamp(14px, 1.6vw, 16px);
    q {
      opacity: 0.85;
    }
  }
}

/* #section1  */

#section1 {
  position: relative;
  height: 100vw;
  max-height: 1230px;
  max-width: 1230px;
  width: 100%;
  margin: 10% auto 0 auto;
  @media only Screen and (max-width: 1023px) {
    margin: 10% auto 12.5vh auto;
  }
  @media only Screen and (max-width: 767px) {
    padding-bottom: initial;
    position: static;
    height: initial;
    max-height: initial;
    max-width: initial;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  img {
    position: absolute;
    border-radius: 5px;
    display: block;
    margin: auto;
    border: 1px solid $c9;
    @media only Screen and (max-width: 767px) {
      position: static;
      margin: 4% auto;
      height: 100%;
      display: block;
      left: unset;
      bottom: unset;
    }
    &:nth-child(1) {
      top: 16%;
      z-index: 1;
      left: 50%;
      width: 44%;
      height: auto;
      margin-bottom: 0;
      @media only Screen and (max-width: 767px) {
        width: 60%;
        order: 1;
      }
    }
    &:nth-child(2) {
      top: 0;
      width: 52.5%;
      height: auto;
      left: 6%;
      @media only Screen and (max-width: 767px) {
        width: 60%;
        order: 2;
      }
    }
    &:nth-child(4) {
      left: 6%;
      bottom: 0;
      width: 48.5%;
      height: auto;
      @media only Screen and (max-width: 767px) {
        width: 87.5%;
        order: 4;
        margin-top: 12.5%;
      }
    }
  }
  img + p {
    width: 35.5%;
    margin: auto;
    position: absolute;
    top: 37%;
    bottom: 34%;
    left: 18.75%;
    border: 2px solid $c4;
    color: $c4;
    padding: 3.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-size: clamp(14px, 1.6vw, 16px);
    @media only Screen and (max-width: 767px) {
      justify-content: flex-start;
      position: static;
      width: 87%;
      margin: 0 auto 4% auto;
      padding: 1.5%;
      order: 5;
    }
    q {
      opacity: 0.95;
      @media only Screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }
  aside {
    width: 36%;
    position: absolute;
    left: 58%;
    top: 44%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 56%;
    font-size: clamp(12px, 1.6vw, 16px);
    @media only Screen and (max-width: 767px) {
      font-size: 16px;
      justify-content: space-between;
      position: static;
      width: 90%;
      margin: 4% auto;
      height: initial;
      order: 3;
    }
    h2 {
      width: 100%;
      padding-top: 0;
      text-align: center;
    }
    h2 + p {
      width: 100%;
      margin: 1.5% 0;
    }
  }
  div:nth-child(2),
  div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      width: 48%;
      display: inline-block;
      text-align: right;
    }
    p {
      width: 48%;
      text-align: left;
      margin: 1.5% 0;
    }
  }
  div:nth-child(3) {
    h3 {
      order: 1;
      text-align: left;
      @media only Screen and (max-width: 767px) {
        order: initial;
        text-align: right;
      }
    }
    p {
      order: 2;
      text-align: right;
      @media only Screen and (max-width: 767px) {
        order: initial;
        text-align: left;
      }
    }
  }
}

/* #section2 */

#section2 {
  width: 87.5%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 125vh;
  padding: 12.5vh 0;
  @media only Screen and (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: unset;
    padding: initial;
  }
  p {
    @media only Screen and (max-width: 1023px) {
      order: 3;
      margin: 10% 0 17% 0;
      text-align: justify;
    }
  }
  .top {
    align-self: flex-start;
    position: sticky;
    /* quater 100vh */
    top: 25vh;
    /* anything */
    margin: 20vh 0 20vh 8%;
    display: flex;
    flex-direction: column;
    a:nth-child(1) {
      @media only Screen and (max-width: 1023px) {
        order: 1;
        margin: 20% auto 2% auto;
      }
    }
    a:nth-child(2) {
      @media only Screen and (max-width: 1023px) {
        order: 2;
        margin: 5% auto 12% auto;
      }
    }
    @media only Screen and (max-width: 1023px) {
      position: relative;
      top: unset;
      margin: auto;
    }
    a {
      overflow: hidden;
      display: flex;
      figure {
        position: relative;
        z-index: 1;
        overflow: hidden;
        border: 3px solid $c11;
        border-radius: 10px;
        min-width: 440px;
        @media only Screen and (max-width: 1023px) {
          min-width: unset;
        }
        img {
          display: block;
          position: relative;
          z-index: 0;
          margin: auto;
          width: 100%;
          height: 100%;
        }
        figcaption {
          position: absolute;
          top: 35%;
          left: 5%;
          color: $c3;
          width: 50%;
          z-index: 1;
          @media only Screen and (max-width: 576px) {
            width: 66%;
            top: 12%;
            font-size: 90%;
          }
          b {
            font-family: $font2;
            font-size: 110%;
          }
        }
      }
    }
  }
}

.scroll {
  img {
    transition:
      transform 0.5s ease-out,
      opacity 0.5s ease-out;
    transform: scale(1);
    opacity: 1;
  }
  b {
    transition: text-decoration-color 0.5s ease;
    text-decoration: underline;
    text-decoration-color: transparent;
  }
  @media only Screen and (min-width: 1024px) {
    &:hover b {
      text-decoration-color: $c3;
    }
  }
}

.scroll-animation-desktop img {
  @media only Screen and (min-width: 1024px) {
    transform: scale(1.1);
    opacity: 0.95;
  }
}

.scroll-animation-mobile.scroll {
  @media only Screen and (max-width: 1023px) {
    img {
      transform: scale(1.1);
      opacity: 0.95;
    }
    b {
      text-decoration-color: $c3;
    }
  }
}

.d-lg-has-height {
  @media only Screen and (min-width: 1024px) {
    height: initial;
    width: inherit;
  }
}

.d-lg-0-height {
  @media only Screen and (min-width: 1024px) {
    height: 0;
    width: 0;
  }
}

/* #section3 */

#section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 6.25% 9% 6.35%;
  article,
  div {
    width: 45%;
    margin: 0;
    height: fit-content;
    @media only Screen and (max-width: 1023px) {
      width: 90%;
      border-radius: 5px;
    }
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  article:nth-child(4) {
    text-align: right;
  }
  div {
    position: relative;
    padding: 27% 0 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    p {
      display: flex;
      flex-direction: column;
      justify-content: end;
      color: $c3;
      position: absolute;
      top: 2%;
      right: 2%;
      bottom: 2%;
      left: 2%;
      font-family: Poppins-Medium;
      transition:
        background-color 0.5s linear,
        opacity 0.5s linear,
        top 0.5s linear,
        right 0.5s linear,
        bottom 0.5s linear,
        left 0.5s linear;
      span {
        margin: 5%;
        opacity: 0;
        transition: opacity 0.25s linear;
        height: fit-content;
        width: 200px;
      }
      b {
        margin: 5%;
      }
    }
    .scrollTwo.animation {
      background-color: $c4;
      opacity: 0.95;
      top: 7%;
      right: 5%;
      bottom: 7%;
      left: 5%;
      span {
        opacity: 1;
      }
    }
    &:nth-child(2) {
      background-image: url(../images/job.jpg);
      margin-bottom: 25px;
    }
    &:nth-child(3) {
      background-image: url(../images/startup.jpg);
      margin-top: 25px;
      p {
        text-align: right;
        span {
          align-self: end;
        }
      }
    }
  }
  @media only Screen and (max-width: 1023px) {
    flex-direction: column;
    margin: 5% auto auto auto;
    align-items: center;
    article:nth-child(1) {
      order: 1;
      h3 {
        margin-left: 3%;
        order: 0;
      }
    }
    div:nth-child(2) {
      order: 2;
      margin: 7.5% 0 20% 0;
      padding: 27% 0;
    }
    div:nth-child(3) {
      order: 4;
      margin: 7.5% 0 3% 0;
      padding: 27% 0;
    }
    article:nth-child(4) {
      order: 3;
      h3 {
        margin-right: 3%;
        order: 0;
      }
    }
  }
}

/* #section4 */

#section4 {
  height: 388px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12.5%;
  @media only Screen and (max-width: 1200px) {
    padding: 6.25%;
  }
  @media only Screen and (max-width: 767px) {
    height: unset;
    flex-direction: column;
    padding: 17% 5% 5% 5%;
  }
  p {
    width: 25%;
    height: 150px;
    border: 2px solid $c4;
    color: $c4;
    padding: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    @media only Screen and (max-width: 767px) {
      width: 94%;
      margin: 7.5% 0;
      height: unset;
      min-height: 100px;
    }
    &::after {
      position: absolute;
      content: "";
      top: -50px;
      left: calc(50% - 25px);
      border-top: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid $c4;
      border-left: 25px solid transparent;
    }
  }
}

/* #section5 */
#section5 {
  @media only screen and (min-width: 1200px) {
    margin: 2% calc(12.5% - 26px) 12.5% calc(12.5% - 26px);
  }
}

.slider_1-outer {
  padding: 12.5% 0 25% 0;
  margin: auto;
  @media only screen and (min-width: 576px) {
    width: 87.5%;
    padding: 0 0 17%  0;
  }
  @media only screen and (min-width: 1200px) {
    width: calc(100% - 52px);
    padding: 0;
  }
}

.slider_1-row {
  overflow: hidden;
}

.slider_1-item {
  position: absolute;
  will-change: transform;
  @media only screen and (min-width: 768px) {
    width: calc((100% + 34px) / 2);
  }
  @media only screen and (min-width: 1200px) {
    width: calc((100% + 34px) / 3);
  }
}

.slider_1-item-padding {
  @media only screen and (min-width: 768px) {
    padding: 0 34px 0 0;
  }
}

.slider_1-item-body {
  box-sizing: border-box;
  border: 1px solid $c4;
  background-color: $c3;
  width: calc(100% - 104px);
  margin: auto;
  padding: 22px 33px 104px 33px;
  @media only screen and (min-width: 576px) {
    width: 70%;
  }
  @media only screen and (min-width: 768px) {
    width: calc(100% - 1px);
  }
  h3 {
    font-size: clamp(22px, 2.75vw, 28px);
  }
  b {
    font-weight: 600;
  }
  p,
  b {
    font-size: 14.5px;
  }
}

.slider_1-item-body:after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 13px;
  background-color: $c4;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.slider_1-item-heading,
.slider_1-item-bold,
.slider_1-item-content {
  transition: opacity 0.25s ease-in-out;
  will-change: opacity;
  opacity: 1;
}

.slider_1-item-has-opacity {
  .slider_1-item-heading,
  .slider_1-item-bold,
  .slider_1-item-content {
    opacity: 0.5;
  }
}

.slider_1-button {
  top: calc(50% - 54px);
  right: -26px;
  transition: right 0.5s ease-in-out;
  @media only screen and (min-width: 768px) {
    top: calc(50% - 104px);
  }
  @media only screen and (min-width: 1200px) {
    right: -26px;
    will-change: right;
    top: calc(50% - 54px);
  }
}

.c-custom-1 {
  margin: 0;
  width: 52px;
  height: 52px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  outline: none;
  border: none;
  background-color: transparent;
  svg {
    position: relative;
    z-index: 1;
    color: $white;
    transition:
      transform 0.4s ease-in-out,
      opacity 0.4s ease-in-out;
    will-change: transform, opacity;
    opacity: 1;
    transform: scale(1);
  }
  &::after {
    content: " ";
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $c4;
    border-radius: 50%;
    transition: transform 0.4s ease-in-out;
    will-change: transform;
    transform: scale(1);
    position: absolute;
    justify-content: center;
    color: $white;
    font-size: xx-large;
  }
  &:hover {
    &::after {
      transform: scale(0.95);
    }
    svg {
      transform: scale(0.95);
      opacity: 0.75;
    }
  }
}

/* #section6 */

#section6 {
  width: 100%;
  padding: 35px 0 70px 0;
  background-color: $c10;
  @media only Screen and (max-width: 1023px) {
    padding: 35px 0 35px 0;
  }
  h2 {
    text-align: left;
    margin: auto auto 40px 7%;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1600px;
    margin: auto;
    flex-wrap: wrap;
    @media only Screen and (max-width: 1023px) {
      justify-content: space-evenly;
    }
    @media only Screen and (max-width: 576px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    img {
      margin: auto auto;
      max-width: 220px;
      width: 21%;
      height: 100%;
      filter: grayscale(100%);
      border: 1px solid $c9;
      clip-path: inset(10px 10px 25px round 25px 0);
      @media only Screen and (max-width: 1023px) {
        margin: 2% auto auto 5%;
        width: 50%;
      }
      @media only Screen and (max-width: 576px) {
        margin: 2% auto;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      width: 19%;
      margin: 1% 4% 1% 0;
      @media only Screen and (max-width: 1023px) {
        width: 50%;
        margin: 5% auto;
      }
      @media only Screen and (max-width: 576px) {
        width: 60%;
      }
      h3 {
        margin: 0;
        text-align: center;
        width: 100%;
        @media only Screen and (max-width: 1023px) {
          text-align: center;
          height: initial;
          padding: 3% 0;
        }
        .fa-circle-dot {
          display: inline;
          color: $c4;
          margin-right: 5px;
          font-size: 17px;
        }
      }
      p {
        width: 100%;
        height: 222px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @media only Screen and (max-width: 1023px) {
          width: 100%;
          height: initial;
        }
        span:nth-child(1) {
          display: inline-block;
          text-align: right;
          color: $c2;
          opacity: 0.95;
          @media only Screen and (max-width: 1023px) {
            text-align: center;
            height: initial;
            padding: 3% 0;
          }
        }
        span:nth-child(2) {
          display: inline-block;
          text-align: right;
          height: 111px;
          @media only Screen and (max-width: 1023px) {
            text-align: center;
            padding: 3% 0;
          }
          @media only Screen and (max-width: 576px) {
            height: initial;
          }
        }
      }
      span:nth-child(3) {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 11px auto 50px auto;
        @media only Screen and (max-width: 1023px) {
          width: 100%;
        }
        .svg-inline--fa {
          margin: auto 3%;
          font-size: 32.5px;
          text-decoration: none;
          transition: 0.25s ease-in-out color;
          &:hover,
          &:focus {
            color: $c4;
          }
          @media only Screen and (max-width: 1023px) {
            margin: auto 0;
          }
        }
      }
    }
  }
}

/* carousel */

.carousel {
  display: flex;
  justify-content: flex-end;
  background-color: $c12;
  padding: 25px 0;
  @media only Screen and (max-width: 1023px) {
    justify-content: center;
  }
  .carousel-inner {
    width: 200px;
    margin-right: 10%;
    @media only Screen and (max-width: 1023px) {
      margin: 0;
    }
  }
}
