/* nav */

.sticky {
   @include min_sm {
    position: sticky;
    background-image: url("../images/climpek.png");
    background-color: $c3;
  }
}

.absolute {
   @include min_sm {
    position: absolute;
  }
}

nav {
  position: absolute;
  font-family: $font2;
  max-width: 1920px;
  width: 92%;
  top: 0;
  padding: 0 4%;
  font-size: larger;
  color: $c15;
  z-index: 2;
   @include max_sm {
    position: sticky;
    background-image: url("../images/climpek.png");
    background-color: $c3;
    transition: 0.25s ease background-color;
    width: 100%;
    padding: 0;
    &:hover,
    &:focus {
      background-color: $c9;
      ul {
        height: 159.2px;
        li {
          transform: translateY(0);
        }
      }
    }
  }
  ul {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
     @include max_sm {
      flex-direction: column;
      transition: height 0.65s;
      height: 0;
    }
    .li-around {
      width: 66%;
      ul {
        display: flex;
        justify-content: space-evenly;
      }
       @include max_sm {
        width: initial;
      }
    }
    li {
      list-style-type: none;
      display: inline-block;
       @include max_sm {
        transition: transform 0.65s;
        transform: translateY(-79.2px);
        display: list-item;
        &:last-child {
          margin-bottom: 40px;
        }
      }
      a {
        color: inherit;
        width: fit-content;
        padding: 5px 7.5px;
        text-decoration: none;
        border-radius: 5px;
        outline: none;
        display: block;
        margin: 4% 0;
        background-image: url("../images/climpek.png");
        background-color: $c3;
        transition:
          0.1s ease background-color,
          color 0.1s ease;
         @include max_sm {
          margin: auto auto 10px auto;
          background-image: none;
          background-color: unset;
        }
        &:hover,
        &:focus {
          color: $c3;
          background-color: $c14;
          background-image: none;
        }
      }
    }
  }
  .fa-circle-dot {
    color: $c4;
    padding: 10px;
    align-self: baseline;
     @include min_sm {
      display: none;
    }
  }
  .fa-facebook-f {
    padding: 8px 11px;
    position: absolute;
    text-decoration: none;
    bottom: -14px;
    right: 15px;
    border-radius: 50%;
    font-size: initial;
    z-index: 3;
     @include min_sm {
      display: none;
    }
  }
}
