/* nav */

nav {
  position: absolute;
  font-family: $font2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1920px;
  z-index: 999;
  top: 1%;
  width: 92%;
  padding: 0 4%;
  text-align: center;
  font-size: larger;
  z-index: 998;
  @media only Screen and (max-width: 576px) {
    position: sticky;
    top: 0;
    background-image: url("../images/climpek.png");
    background-color: $c3;
    padding: 4%;
  }
  ul {
    &:nth-child(1) {
      width: 33%;
    }
    &:nth-child(2) {
      width: 67%;
    }
    li {
      display: inline-block;
      a {
        padding: 5px 7.5px;
        text-decoration: none;
        background-color: $c13;
        background-image: url("../images/climpek.png");
        @media only Screen and (max-width: 576px) {
          background-image: none;
          background-color: transparent;
        }
        border-radius: 5px;
        outline: none;
        display: inline-block;
        color: $c15;
        &:hover,
        &:focus {
          color: $c3;
          background-color: $c14;
          background-image: none;
        }
      }
    }
  }
}

.toggle {
  background-image: none;
  background-color: transparent;
}