/* nav */

.sticky {
  position: sticky;
  background-image: url("../images/climpek.png");
  background-color: $c3;
}

.absolute {
  position: absolute;
}

nav {
  position: absolute;
  font-family: $font2;
  max-width: 1920px;
  width: 92%;
  top: 0;
  padding: 0 4%;
  font-size: larger;
  color: $c15;
  z-index: 2;
  @media only Screen and (max-width: 576px) {
    position: sticky;
    background-image: url("../images/climpek.png");
    background-color: $c3;
    transition: 0.25s ease background-color;
    width: 100%;
    padding: 0;
    &:hover,
    &:focus {
      background-color: $c9;
      ul {
        height: 169px;
        li {
          transform: translateY(0);
          &:last-child {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
  ul {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    @media only Screen and (max-width: 576px) {
      flex-direction: column;
      transition: height 0.25s;
      height: 0;
    }
    li {
      list-style-type: none;
      display: inline-block;
      @media only Screen and (max-width: 576px) {
        transition: transform 0.25s;
        transform: translateY(-129px);
        display: list-item;
      }
      a {
        color: inherit;
        width: fit-content;
        padding: 5px 7.5px;
        text-decoration: none;
        border-radius: 5px;
        outline: none;
        display: block;
        margin: 4% 0;
        background-image: url("../images/climpek.png");
        background-color: $c3;
        transition:
          0.25s ease background-color,
          color 0.25s ease;
        @media only Screen and (max-width: 576px) {
          margin: auto auto 10px auto;
          background-image: none;
          background-color: unset;
        }
        &:hover,
        &:focus {
          color: $c3;
          background-color: $c14;
          background-image: none;
        }
      }
    }
  }
  span.fas {
    color: $c4;
    padding: 10px;
    align-self: baseline;
    @media only Screen and (min-width: 576px) {
      display: none;
    }
  }
  .fab {
    padding: 7px 11px;
    position: absolute;
    text-decoration: none;
    bottom: -14px;
    right: 15px;
    border-radius: 50%;
    z-index: 3;
    @media only Screen and (min-width: 576px) {
      display: none;
    }
  }
}
